{% load static %}
{% load i18n %}
{% load allauth %}
<div>
  <div class="text-3xl font-semibold">Survey Candidates Filters</div>
  <hr class="w-1/2 pt-2">
  <div class="my-1">
    <p>
      These filters define which buildings of the source dataset will be surveyed.
    </p>
  </div>

  <section id="data-filter" class="my-4 gap-2">

    <div class="text-2xl">Dataset filter</div>
    <p class="mb-2">Filter the input dataset buildings to survey.</p>

    {% #button id="add-dataset-filter" %}
    Add dataset filter
    {% /button %}

    <div class="block w-2/3 py-2">
      <div id="query-builder-dataset" class="col-start-2 col-span-6"></div>
    </div>
  </section>

  <section id="surveys-filter" class="my-4 gap-2">

    <div class="text-2xl">Surveys filter</div>
    <p class="mb-2">Filter the input data to your survey on previous survey results. <br>
    </p>

    {% #button id="add-surveys-filter" %}
    Add survey filter
    {% /button %}

    <div class="block w-2/3 py-2">
      <div id="query-builder-surveys" class="col-start-2 col-span-6"></div>
    </div>
  </section>
  
  <div class="text-3xl font-semibold">Candidate Viewing Options</div>
  <hr class="w-1/2 pt-2">
  <div class="my-1">
    <p>These options do not filter the candidate list, only how they are displayed below.</p>
  </div>

  <section>
    <div class="text-2xl mb-2">Fields to display</div>
    <button id="show-col-config" data-target-modal="column_config_modal"
      class="modal-open-button bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-600 
    block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
      Choose columns
    </button>
  </section>

  <section id="order-by-config" class="my-4">
    <div class="text-xl">
      Order by
    </div>
    <div class="flex gap-3 items-center">
      <select id="order-by-field"
        class='block font-light text-sm ps-2 mt-1 rounded-md border-0 py-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600'>
        <optgroup label="Building Attributes">
          {% for col in bldg_orderby_cols %}
          <option id="{{ col.id }}" value="{{ col.id }}" class="appearance-none" {% if col.id == orderby_field %}
            selected {% endif %}>{{ col.label }}</option>
          {% endfor %}
        </optgroup>
        <optgroup label="Survey Responses">
          {% for col in survey_orderby_cols %}
          <option id="{{ col.id }}" value="{{ col.id }}" class="appearance-none" {% if col.id == orderby_field %}
            selected {% endif %}>{{ col.label }}</option>
          {% endfor %}
        </optgroup>
      </select>

      <div>
        <div>
          <label>
            <input type="radio" id="order-by-asc" name="order-by-dir" value="asc"
              class="me-2 text-base border-0 text-teal-600 accent-teal-600 focus:accent-teal-700 shadow-sm ring-1 focus:ring-2 focus:ring-teal-600"
              {% if orderby_dir == 'asc' %} checked {% endif %}/>
            Ascending
          </label>
        </div>
        <div>

          <label>
            <input type="radio" id="order-by-desc" name="order-by-dir" value="desc"
              class="me-2 text-base border-0 text-teal-600 accent-teal-600 focus:accent-teal-700 shadow-sm ring-1 focus:ring-2 focus:ring-teal-600" 
              {% if orderby_dir == 'desc' %} checked {% endif %}
              />
            Descending
          </label>
        </div>

      </div>
    </div>
  </section>

  <section class="flex flex-row justify-between">
    <button id="refreshFilters" 
    hx-get="{% url 'buildings:new_survey' %}"
    hx-target="#results-container" 
    hx-swap="outerHTML" 
    hx-vals='js:{...getCurrentQuery()}' 
    hx-replace-url="true"
    hx-indicator="#submit-query-inner"
    class="flex items-center gap-2 h-fit py-2 bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-600 
      justify-center rounded-md px-3 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
      <div id="submit-query-inner">
        <div class="display-when-not-loading">
          {% trans "Refresh Candidates" %}
        </div>
        <div class="display-when-loading gap-2 items-center">
          {% trans "Refreshing..." %}
          <svg aria-hidden="true" class="w-4 h-4 animate-spin fill-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
        </div>
      </div>
    </button>
    <button id="next-step-button"
    class="bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600 
      block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
      {% trans "Add Questions" %}
    </button>
    <button id="show-confirm-creation" data-target-modal="confirm_creation_modal"
    class="hidden modal-open-button bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600 
      justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
      {% trans "Confirm" %}
    </button>
  </section>
</div>