{% extends "buildings/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'buildings/query-builder.default.css' %}" />
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css" />
{% endblock %}


{% block content %}

<div class="flex justify-center pb-4 px-4 mb-4 h-full">
  <div class="flex flex-col w-[80%] h-full">

    <div class="w-full bg-white bg-opacity-50 py-3 mb-3 px-5 rounded-md text-md">
      <div class="text-4xl mb-3">
        New Survey
      </div>
      <form id="survey-creation-form">
        {% csrf_token %}

        <section id="new-survey-info" class="flex flex-col gap-2 mb-2">
          <div>
            <div class="text-3xl font-semibold">Survey Information</div>
            <hr class="w-1/2 pt-2">
          </div>

          <div class="mb-3">
            <div class="text-xl">Survey name</div>
            <p>
              <span class="text-lg font-semibold">Note:</span> You will not be able to change this value later.
            </p>
            <input id="survey-name" name="survey_name" type="text" placeholder="Survey name" maxlength="500" required
            class="rounded-md w-[350px] text-lg border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
          </div>
          <div id="dataset-selection" class="mb-3">
            <div class="flex flex-col gap-1">
              <div class="text-xl">Source Dataset</div>
              <p>Your survey will collect data on buildings in the source dataset.
                <br><span class="text-lg font-semibold">Note:</span> You will not be able to change this value later.
              </p>
              <!-- HTMX regenerate the candidates list when source dataset changes. QB filters will change thanks to their hx-swap-oob attribute -->
              <select id="source-dataset-select" name="source_dataset" 
                hx-get="{% url 'buildings:new_survey' %}" 
                hx-trigger="change" 
                hx-target="#results-container"
                hx-replace-url="true" 
                class='block min-w-[350px] text-lg w-fit rounded-md border-0 py-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600'>
                <optgroup label="Datasets" class="text-lg font-normal">
                  {% for dataset in datasets %}
                  <option id="{{ dataset.slug }}-link" value="{{ dataset.slug }}" class="appearance-none" 
                  {% if dataset.id == current_dataset.id %}selected{% endif %}>
                    {{ dataset.name }}
                  </option>
                  {% endfor %}
                </optgroup>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <div class="text-xl">Survey Description</div>
            <p>A short description of your survey</p>
            <textarea id="survey-description" name="survey_decription" class="w-1/2" rows="3"></textarea>
          </div>
        </section>

        <section id="candidate-filters" class="mt-4 mb-4">
          {% include 'buildings/new_survey/candidates_filter_partial.html' %}
        </section>

        {% #modal id="confirm_creation" %}
        <div class="block flex-grow rounded-2xl px-10 pt-4">
          <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Confirm Survey Creation</h1>
          <div id="survey-creation-error" class="hidden bg-red-500 rounded-md p-5 text-white text-lg text-center">
            There was an error creating your survey. Please check the inputs and try again.
          </div>
          <p class="text-lg"><span class="font-semibold me-1">Warning:</span> You will not be able to change the survey settings and candidate filters after this step.
          <div class="flex justify-center mt-3">
            <button 
              id="confirm-survey-creation"
              class=" bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600 
              block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              {% trans "Confirm" %}
            </button>
          </div>
        </div>
        {% /modal %}
      </form>
    </div>


    {% block page-and-paging-controls %}
    
    {% include 'buildings/new_survey/candidates_partial.html' %}

    {% endblock %}

  </div>

  {% endblock %}

  {% block page_scripts %}
  <div id="js-variables">
    {{ qb_dataset_filters | json_script:"qb_dataset_filters" }}
    {{ qb_surveys_filters | json_script:"qb_surveys_filters" }}
    {{ user_bldg_cols | json_script:"user_bldg_cols" }}
    {{ default_bldg_cols | json_script:"default_bldg_cols" }}
    {{ user_survey_cols | json_script:"user_survey_cols" }}
    {{ default_survey_cols | json_script:"default_survey_cols" }}
  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
  <script src="{% static 'scripts/query-builder.standalone.js' %}"></script>
  <script defer src="{% static 'scripts/new_survey.js' %}"></script>
  {% endblock %}