{% extends "buildings/base.html" %}
{% load allauth %}
{% load i18n %}
{% block content %}
  <div class="h-full flex flex-col justify-center items-center">
    <div class="flex flex-col rounded-xl w-[375px] p-7 bg-white/[0.65] shadow-lg">

      <div class="mx-auto w-full max-w-sm">
        <h3 class="text-xl font-md w-full text-center font-bold">
          {% trans "Sign out" %}
        </h3>
      </div>

      <div class="mx-auto w-full max-w-xs">
        <form class="space-y-6" action="" method="post">
          {% csrf_token %}
          <div class="text-center">
            {% trans "Are you sure you want to sign out?" %}
          </div>
          <div>
            {% element button type="submit" name="error" %}
              {% trans "Sign out" %}
            {% endelement %}
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
