{% extends "buildings/base.html" %}
{% load i18n %}
{% block content %}
<div class="h-full flex flex-col justify-center items-center">

	<div class="flex flex-col rounded-xl w-[375px] p-7 bg-white/[0.65] shadow-lg">

		<div class="mx-auto w-full max-w-sm">
			<svg class="mx-auto mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="42" height="42"
				fill="currentColor">
				<title>home-search-icon</title>
				<path
					d="M19.31 18.9C19.75 18.21 20 17.38 20 16.5C20 14 18 12 15.5 12S11 14 11 16.5 13 21 15.5 21C16.37 21 17.19 20.75 17.88 20.32L21 23.39L22.39 22L19.31 18.9M15.5 19C14.12 19 13 17.88 13 16.5S14.12 14 15.5 14 18 15.12 18 16.5 16.88 19 15.5 19M5 20V12H2L12 3L22 12H20.18C19 10.77 17.34 10 15.5 10C11.92 10 9 12.92 9 16.5C9 17.79 9.38 19 10.03 20H5Z" />
			</svg>
			<h3 class="text-xl font-md w-full text-center font-bold">
        {% if token_fail %}
          {% trans "Invalid Token" %}
        {% else %}
          {% trans "Change your password" %}
        {% endif %}
      </h3>
		</div>

    {% if form.errors %}
    <div class="flex flex-col justify-center mt-2 -mb-5">
    
      {% for field in form %}
      {% for error in field.errors %}
      <div class="text-center text-red-500">
        {{ error|escape }}
      </div>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <div class="text-center text-red-500">
        {{ error|escape }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

		<div class="mx-auto w-full max-w-xs">

      {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <div class="space-y-6">
        <div class="text-sm mt-3 text-center text-red-500">
          {% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}
        </div>
        <a href="{{ passwd_reset_url }}" class="flex w-full justify-center rounded-md bg-teal-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
          {% trans "Request a new reset link" %}
        </a>
      </div>
      {% else %}

			<form class="space-y-6" action="" method="POST">
				{% csrf_token %}
        <!-- https://www.chromium.org/developers/design-documents/create-amazing-password-forms/#use-hidden-fields-for-implicit-information -->
        <input hidden type="text" name="username" autocomplete="username" value="{{ form.user.username }}" />
        <div>
          <div class="flex items-center justify-between">
            <label for="password1" class="block text-sm font-medium leading-6 text-gray-900">
              {{ form.password1.label }}
            </label>
            <div id="password1-errors" class='text-sm text-red-500'>{{ form.errors.password1 }}</div>
          </div>
          <div class="mt-1 flex flex-row items-center">
            {{ form.password1 }}
            <i class="far fa-eye-slash -ms-8" id="togglePassword1"></i>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password2" class="block text-sm font-medium leading-6 text-gray-900">
              {{ form.password2.label }}
            </label>
            <div id="password2-errors" class='text-sm text-red-500'>{{ form.errors.password2 }}</div>
          </div>
          <div class="mt-1 flex items-center">
            {{ form.password2 }}
            <i class="far fa-eye-slash -ms-8" id="togglePassword2"></i>
          </div>
        </div>

				<div>
					<button type="submit"
						class="flex w-full justify-center rounded-md bg-teal-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
            {% trans "Change password" %}</button>
				</div>
			</form>
      {% endif %}
		</div>
	</div>
  <p class="text-center text-sm text-gray-500 mt-6">
    {% trans "Already have an account?" %}
    <a href="{% url 'account_login' %}" class="font-semibold leading-6 text-teal-600 hover:text-teal-500">
      {% trans "Sign in" %} <span>&nbsp;&rarr;</span></a>
  </p>

</div>

<script>
  const password1 = document.getElementById('id_password1');
  const password2 = document.getElementById('id_password2');
  const togglePassword1 = document.getElementById('togglePassword1');
  const togglePassword2 = document.getElementById('togglePassword2');

  togglePassword1.addEventListener('click', (e) => {
    e.preventDefault();
    const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type);
    // toggle the eye / eye slash icon
    togglePassword1.classList.toggle('fa-eye-slash');
    togglePassword1.classList.toggle('fa-eye');
  });

  togglePassword2.addEventListener('click', (e) => {
    e.preventDefault();
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type);
    // toggle the eye / eye slash icon
    togglePassword2.classList.toggle('fa-eye-slash');
    togglePassword2.classList.toggle('fa-eye');
  });
  password1.addEventListener('blur', e => {
    if (!password1.classList.contains("invalid:ring-2")) {
      password1.classList.add("invalid:ring-2", "invalid:ring-inset", "invalid:ring-red-500");
    }
    if (!password1.checkValidity()) {
      if (password1.validity.valueMissing) {
        document.getElementById('password1-errors').innerText = gettext('Cannot be empty');
      }
      if (password1.validity.tooShort) {
        const minLength = password1.getAttribute('minlength');
        document.getElementById('password1-errors').innerText = gettext(`Must be at least ${minLength} characters`);
      }
    } else {
      document.getElementById('password1-errors').innerText = '';
    }
  });

  // Check if password2 == password1
  password2.addEventListener('blur', e => {
    if (!password2.classList.contains("invalid:ring-2")) {
      password2.classList.add("invalid:ring-2", "invalid:ring-inset", "invalid:ring-red-500");
    }

    if (!password2.checkValidity()) {
      if (password2.validity.valueMissing) {
        document.getElementById('password2-errors').innerText = gettext('Cannot be empty');
        return;
      }
      // Reset the custom validity set if the values are not equal
      if (password2.validity.customError) {
        if (password1.value === password2.value) {
          password2.setCustomValidity('');
          document.getElementById('password2-errors').innerText = '';
          return;
        }
      }
    }
    // If valid the first time, values might not be equal
    if (password2.value !== password1.value) {
      password2.setCustomValidity(gettext('Passwords must match'));
      document.getElementById('password2-errors').innerText = gettext('Passwords must match');
    }
  });
</script>
{% endblock content %}
