{% extends "buildings/base.html" %}
{% load i18n %}
{% block content %}
  <div class="h-full flex flex-col justify-center items-center">
    <div class="relative flex flex-col align-self-center rounded-xl w-[375px] p-7 bg-white/[0.65] shadow-lg">
      <div class="mx-auto w-full max-w-sm">
        <h3 class="text-xl font-md w-full text-center font-bold">
          {% trans "Reset your password" %}
        </h3>
      </div>
      <div class="mx-auto w-full max-w-xs">
        <div class="flex justify-center mt-6 text-sm">
          {% trans "Check your email for the reset link." %}
        </div>
      </div>
    </div>
    <p class="text-center text-sm text-gray-500 mt-6">
      {% trans "Already have an account?" %}
      <a href="{% url 'account_login' %}"
         class="font-semibold leading-6 text-teal-600 hover:text-teal-500">
      {% trans "Sign in" %} <span>&nbsp;→</span></a>
    </p>
  </div>
{% endblock content %}
