{% extends "buildings/base.html" %}
{% load i18n %}
{% block content %}
  <div class="h-full flex flex-col justify-center items-center">

    <div class="flex flex-col align-self-center rounded-xl w-[375px] p-7 bg-white/[0.65] shadow-lg">

      <div class="mx-auto w-full max-w-sm">
        <h3 class="text-xl font-md w-full text-center font-bold">
          {% trans "Reset your password" %}
        </h3>
      </div>

      {% if form.errors %}
        <div class="flex flex-col justify-center mt-2 -mb-5">
          {% for field in form %}
            {% for error in field.errors %}
              <div class="text-center text-red-500">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="text-center text-red-500">
              {{ error|escape }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="mx-auto w-full max-w-xs">

        <form id="passwordResetForm" class="space-y-6" action="" method="post">
          {% csrf_token %}
          <div>
            <div class="flex justify-between items-center">
              <label for="email"
                     class="block text-sm font-medium leading-6 text-gray-900 mb-1">
                {{ form.email.label }}
              </label>
              <div id="email-errors" class="text-sm text-red-500">
                {{ form.errors.email }}
              </div>
            </div>
            <div>
              {{ form.email }}
            </div>
            <div class="text-sm mt-3">
              {% trans "A password reset link will be sent to your email address if it is found in our system." %}
            </div>
          </div>
          <div>
            <button id="submitButton"
                    type="submit"
                    class="flex w-full justify-center rounded-md bg-teal-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
              {% trans "Send reset link" %}
            </button>
          </div>

        </form>
      </div>
    </div>

    <p class="text-center text-sm text-gray-500 mt-6">
      {% trans "Already have an account?" %}
      <a href="{% url 'account_login' %}"
         class="font-semibold leading-6 text-teal-600 hover:text-teal-500">
      {% trans "Sign in" %} <span>&nbsp; → </span></a>
    </p>
  </div>

  <script>
      const passwordResetForm = document.getElementById('passwordResetForm');
      const email = document.getElementById('id_email');
      const submitButton = document.getElementById('submitButton');

      email.addEventListener('blur', e => {
          if (!email.classList.contains("invalid:ring-2")) {
              email.classList.add("invalid:ring-2", "invalid:ring-inset", "invalid:ring-red-500");
          }
          if (!email.checkValidity()) {
              if (email.validity.typeMismatch) {
                  document.getElementById('email-errors').innerText = gettext('Invalid email');
              }
              if (email.validity.valueMissing) {
                  document.getElementById('email-errors').innerText = gettext('Cannot be empty');
              }
          } else {
              document.getElementById('email-errors').innerText = '';
          }
      });

      submitButton.addEventListener('click', e => {
          e.preventDefault();
          if (passwordResetForm.reportValidity()) {
              passwordResetForm.submit();
          }
      });
  </script>


{% endblock content %}
