{% extends "buildings/base.html" %}
{% load i18n %}
{% block content %}
  <div class="h-full flex flex-col justify-center items-center">
    <div class="relative flex flex-col align-self-center rounded-xl w-[375px] p-7 bg-white/[0.65] shadow-lg">
      <div class="mx-auto w-full max-w-sm">
        <h3 class="text-xl font-md w-full text-center font-bold">
          {% trans "Password changed" %}
        </h3>
      </div>

      <div class="mx-auto w-full max-w-xs space-y-6">
        <div class="flex justify-center mt-6 text-sm">
          {% trans "Your password was successfully changed!" %}
        </div>
        <div>
          <a href="{% url 'account_login' %}"
             class="flex w-full justify-center rounded-md bg-teal-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
            {% trans "Sign in" %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
