<!-- Gathers all the JS/CSS given to field widgets and imports them -->
{{ form.media }}

<input name="survey_version" type="hidden" value="1.0"/>

<!-- Form manual layout -->
<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q1: {{ form.has_simple_footprint.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_simple_footprint" %}
  </legend>
  {{ form.has_simple_footprint }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q2: {{ form.has_simple_volume.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_simple_volume" %}
  </legend>
  {{ form.has_simple_volume }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q3: {{ form.num_storeys.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="num_storeys" %}
  </legend>
  {{ form.num_storeys }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q4: {{ form.has_basement.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_basement" %}
  </legend>
  {{ form.has_basement }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q5: {{ form.site_obstructions.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="site_obstructions" %}
  </legend>
  {{ form.site_obstructions }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q6: {{ form.appendages.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="appendages" %}
  </legend>
  {{ form.appendages }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q7: {{ form.exterior_cladding.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="exterior_cladding" %}
  </legend>
  {{ form.exterior_cladding }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q8: {{ form.facade_condition.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="facade_condition" %}
  </legend>
  {{ form.facade_condition }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q9: {{ form.window_wall_ratio.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="window_wall_ratio" %}
  </legend>
  {{ form.window_wall_ratio }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q10: {{ form.large_irregular_windows.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="large_irregular_windows" %}
  </legend>
  {{ form.large_irregular_windows }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q11: {{ form.roof_geometry.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="roof_geometry" %}
  </legend>
  {{ form.roof_geometry }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q12: {{ form.structure_type.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="structure_type" %}
  </legend>
  {{ form.structure_type }}
</fieldset>

{% if building.construction_year != None %}
<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q13: {{ form.new_or_renovated.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="new_or_renovated" %}
  </legend>
  {{ form.new_or_renovated }}
</fieldset>
{% endif %}


<!-- Information Modals -->
<div class="modal fade" id="has_simple_footprint" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Can put arbitrary content in here, including images, links, etc!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>