<!-- Gathers all the JS/CSS given to field widgets and imports them -->
{{ form.media }}

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.self_similar_cluster}}: {{ form.self_similar_cluster.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id=form.self_similar_cluster.name %}
  </legend>
  {{ form.self_similar_cluster }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_simple_footprint}}: {{ form.has_simple_footprint.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id=form.has_simple_footprint.name %}
  </legend>
  {{ form.has_simple_footprint }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_simple_volume}}: {{ form.has_simple_volume.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_simple_volume" %}
  </legend>
  {{ form.has_simple_volume }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.num_storeys}}: {{ form.num_storeys.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="num_storeys" %}
  </legend>
  {{ form.num_storeys }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_basement}}: {{ form.has_basement.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_basement" %}
  </legend>
  {{ form.has_basement }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.site_obstructions}}: {{ form.site_obstructions.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="site_obstructions" %}
  </legend>

  {% with initial=form.site_obstructions.initial %}
  {{ form.site_obstructions }}
  {% endwith %}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.appendages}}: {{ form.appendages.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="appendages" %}
  </legend>
  {{ form.appendages }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.exterior_cladding}}: {{ form.exterior_cladding.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="exterior_cladding" %}
  </legend>
  {{ form.exterior_cladding }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.facade_condition}}: {{ form.facade_condition.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="facade_condition" %}
  </legend>
  {{ form.facade_condition }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.window_wall_ratio}}: {{ form.window_wall_ratio.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="window_wall_ratio" %}
  </legend>
  {{ form.window_wall_ratio }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.large_irregular_windows}}: {{ form.large_irregular_windows.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="large_irregular_windows" %}
  </legend>
  {{ form.large_irregular_windows }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.roof_geometry}}: {{ form.roof_geometry.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="roof_geometry" %}
  </legend>
  {{ form.roof_geometry }}
</fieldset>

<!-- Extra question only if eval unit has not construction year -->
{% if eval_unit.const_yr is None or eval_unit.const_yr == '' %}
<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.new_or_renovated}}: {{ form.new_or_renovated.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="new_or_renovated" %}
  </legend>
  {{ form.new_or_renovated }}
</fieldset>
{% endif %}


<!-- Information Modals -->
<div class="modal fade" id="{{ form.self_similar_cluster.name }}" tabindex="-1"
  aria-labelledby="{{ form.self_similar_cluster.name }}_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ form.self_similar_cluster.name }}_label">
          Q{{form.field_ordering.self_similar_cluster}}: Self-Similar Clusters
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A building is part of a <strong>self-similar cluster</strong> if it close to other buildings built at the
              same time,
              following the same construction methods, and using the same materials.
              Most of the time, they will seem virtually identical copies.
            </p>
          </div>
          <div class="infobox-section">
            <em>Importance:</em>
            <p class="infobox-p">
              This is important for retrofits as a good candidate building part of a cluster creates economies of scale
              which
              makes retrofitting the whole cluster more attractive than retrofitting a single building.
            </p>
          </div>
          <div class="infobox-section">
            <em>Note:</em>
            <p class="infobox-p">
              Presence of the <span class="badge text-bg-info">Multiple Addresses</span> tag makes this more likely
              as the evaluation unit could contain multiple buildings.
            </p>
          </div>
          <div class="infobox-section">
            <strong>Example 1:</strong>
            <p class="infobox-p">
              We can see from the streetview that there is an almost identical building to the right.
              The satellite view gives a bigger picture where wee see that there seems to be a 5 building cluster.
            </p>
            <img class="infobox-img" width="600"
              src="{% static 'images/survey_info/q1_selfsimilar/selfsimilar_sv.jpg' %}"
              alt="A streetview of a building part of a self-similar cluster">
            <img class="infobox-img" width="600"
              src="{% static 'images/survey_info/q1_selfsimilar/selfsimilar_sat.jpg' %}"
              alt="A satellite view of a building part of a self-similar cluster">
          </div>

          <div class="infobox-section">
            <strong>
              Example 2:
            </strong>
            <p class="infobox-p">
              Again, it is clear from the streetview image that there are multiple similar buildings.
              The satellite view shows a cluster of 4 (or 8) buildings.
            </p>
            <img class="infobox-img" width="600"
              src="{% static 'images/survey_info/q1_selfsimilar/selfsimilar_sv_2.jpg' %}"
              alt="Another streetview of a building part of a self-similar cluster">
            <img class="infobox-img" width="600"
              src="{% static 'images/survey_info/q1_selfsimilar/selfsimilar_sat_2.jpg' %}"
              alt="Another satellite view of a building part of a self-similar cluster" />
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Footprint Question Modal -->
<div class="modal fade" id="{{ form.has_simple_footprint.name }}" tabindex="-1"
  aria-labelledby="{{ form.has_simple_footprint.name }}_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ form.has_simple_footprint.name }}_label">
          Q{{form.field_ordering.has_simple_footprint}}: Building Footprint
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A building has a <strong>simple footprint</strong> if its intersection with the ground plane is through
              one or two simple geometric shapes of the same type
              (one or two rectangles). A complex footprint consists of shapes that have more than four corners, they
              could be freeform and irregular
              shapes or sometimes, a composition of multiple shapes of different types.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Simple Volume Question  -->
  <div class="modal fade" id="{{ form.has_simple_volume.name }}" tabindex="-1"
    aria-labelledby="{{ form.has_simple_volume.name }}_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{ form.has_simple_volume.name }}_label">
            Q{{form.field_ordering.has_simple_volume}}: Volumetric Shape
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A <strong>simple volumetric form</strong> is a regular volumetric form (rectangular volume, sphere), or
              a combination of regular volumetric forms.
              A complex volumetric form can be any irregular volumes, often consisting of free-flowing curves.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Number of Storeys Question  -->
  <div class="modal fade" id="{{ form.num_storeys.name }}" tabindex="-1"
    aria-labelledby="{{ form.num_storeys.name }}_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{ form.num_storeys.name }}_label">
            Q{{form.field_ordering.num_storeys}}: Number of Storeys
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Any storey above grade (above the surface of the ground) can be considered as a storey above-ground.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    <!-- Basement Question  -->
    <div class="modal fade" id="{{ form.has_basement.name }}" tabindex="-1"
      aria-labelledby="{{ form.has_basement.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.has_basement.name }}_label">
              Q{{form.field_ordering.has_basement}}: Basement
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="infobox-p">
              A building is likely to have a basement if there are windows between the ground level and the first floor.  
            </p>
            <img class="infobox-img" width="500"
            src="{% static 'images\survey_info\q5\q5.jpg' %}  ">  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Site Obstructions Question  -->
    <div class="modal fade" id="{{ form.site_obstructions.name }}" tabindex="-1"
      aria-labelledby="{{ form.site_obstructions.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.site_obstructions.name }}_label">
              Q{{form.field_ordering.site_obstructions}}: Site Obstructions
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Common retrofit approaches include installing panel solutions by crane. Please select any potential barriers that would 
            hinder a crane’s accessibility to the building façade, such as: power lines or very large/old trees within 3m of the 
            building, or another building less than 3m away (Row homes or other buildings sharing walls with the building in question 
            do not count as obstructions). 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Appendages Question  -->
    <div class="modal fade" id="{{ form.appendages.name }}" tabindex="-1"
      aria-labelledby="{{ form.appendages.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.appendages.name }}_label">
              Q{{form.field_ordering.appendages}}: Appendages
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Extruding features on the existing building increase the complexity of installing over cladding 
            solution. Please select any noticeable extruding features on the existing building. 
            In addition, the anchoring structure that connects balconies to the building structure is often 
            a major cause of thermal bridging. 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Exterior Cladding Question  -->
    <div class="modal fade" id="{{ form.exterior_cladding.name }}" tabindex="-1"
      aria-labelledby="{{ form.exterior_cladding.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.exterior_cladding.name }}_label">
              Q{{form.field_ordering.exterior_cladding}}: Exterior Cladding
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <img class="infobox-img" width="1000"
            src="{% static 'images\survey_info\q8\q8-01.jpg' %}  ">  
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Facade Condition Question  -->
    <div class="modal fade" id="{{ form.facade_condition.name }}" tabindex="-1"
      aria-labelledby="{{ form.facade_condition.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.facade_condition.name }}_label">
              Q{{form.field_ordering.facade_condition}}: Façade Condition
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            A building in poor condition may include: cladding material in poor shape with multiple areas 
            displaying mold infestation and/or rot, noticeable water stains that can be identified at first 
            glance, or if the overall condition of the exterior façade appears to be due for renovation.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <!-- Glazing Question  -->
    <div class="modal fade" id="{{ form.window_wall_ratio.name }}" tabindex="-1"
      aria-labelledby="{{ form.window_wall_ratio.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.window_wall_ratio.name }}_label">
              Q{{form.field_ordering.window_wall_ratio}}: Glazing Ratio
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>The following diagram illustrates the proportions of glazing relative to the façade area.
            </p> 
            <img class="infobox-img" width="500"
            src="{% static 'images\survey_info\q10-glazing\q10-Glazing.jpg' %}  ">  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Large or Irregular Windows Question  -->
    <div class="modal fade" id="{{ form.large_irregular_windows.name }}" tabindex="-1"
      aria-labelledby="{{ form.large_irregular_windows.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.large_irregular_windows.name }}_label">
              Q{{form.field_ordering.large_irregular_windows}}: Large or Irregular Windows
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Large windows would include an entirely fenestrated facade, or a major portion of a façade 
              entirely fenestrated, or any windows taller and/or wider than 2m (about the height of a door).
            </p>
            <img class="infobox-img" width="750"
            src="{% static 'images\survey_info\q11-largewindow\q11-largeirregularwindows.jpg' %}  ">  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Roof Geometry Question  -->
    <div class="modal fade" id="{{ form.roof_geometry.name }}" tabindex="-1"
      aria-labelledby="{{ form.roof_geometry.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.roof_geometry.name }}_label">
              Q{{form.field_ordering.roof_geometry}}: Roof Geometry
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>A pitched roof includes a roofs with a single slope (shed), or two slopes meeting (gable roof), 
            or 4 slopes all meeting (pyramid). Whereas a complex roof may have multiple pitches and one or 
            more other gables.
          </p> 
            <img class="infobox-img" width="600"
            src="{% static 'images\survey_info\q12-rooftypes\q12-rooftypes.jpg' %}  ">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- New or Renovates Question  -->
    <div class="modal fade" id="{{ form.roof_geometry.name }}" tabindex="-1"
      aria-labelledby="{{ form.roof_geometry.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.roof_geometry.name }}_label">
              Q{{form.field_ordering.roof_geometry}}: New or Renovated Buildings
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Put your content here! You can use any type of tags here. See the code for the self-similar cluster modal
            for inspiration.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>