<!-- Gathers all the JS/CSS given to field widgets and imports them -->
{{ form.media }}

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.self_similar_cluster}}: {{ form.self_similar_cluster.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id=form.self_similar_cluster.name %}
  </legend>
  {{ form.self_similar_cluster }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_simple_footprint}}: {{ form.has_simple_footprint.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id=form.has_simple_footprint.name %}
  </legend>
  {{ form.has_simple_footprint }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_simple_volume}}: {{ form.has_simple_volume.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_simple_volume" %}
  </legend>
  {{ form.has_simple_volume }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.num_storeys}}: {{ form.num_storeys.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="num_storeys" %}
  </legend>
  {{ form.num_storeys }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_basement}}: {{ form.has_basement.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_basement" %}
  </legend>
  {{ form.has_basement }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.site_obstructions}}: {{ form.site_obstructions.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="site_obstructions" %}
  </legend>

  {% with initial=form.site_obstructions.initial %}
  {{ form.site_obstructions }}
  {% endwith %}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.appendages}}: {{ form.appendages.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="appendages" %}
  </legend>
  {{ form.appendages }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.exterior_cladding}}: {{ form.exterior_cladding.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="exterior_cladding" %}
  </legend>
  {{ form.exterior_cladding }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.facade_condition}}: {{ form.facade_condition.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="facade_condition" %}
  </legend>
  {{ form.facade_condition }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.window_wall_ratio}}: {{ form.window_wall_ratio.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="window_wall_ratio" %}
  </legend>
  {{ form.window_wall_ratio }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.large_irregular_windows}}: {{ form.large_irregular_windows.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="large_irregular_windows" %}
  </legend>
  {{ form.large_irregular_windows }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.roof_geometry}}: {{ form.roof_geometry.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="roof_geometry" %}
  </legend>
  {{ form.roof_geometry }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.new_or_renovated}}: {{ form.new_or_renovated.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="new_or_renovated" %}
  </legend>
  {{ form.new_or_renovated }}
</fieldset>


<!-- Information Modals -->
<div class="modal fade" id="{{ form.self_similar_cluster.name }}" tabindex="-1"
  aria-labelledby="{{ form.self_similar_cluster.name }}_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ form.self_similar_cluster.name }}_label">
          Q{{form.field_ordering.self_similar_cluster}}: Self-Similar Clusters
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A building is part of a <strong>self-similar cluster</strong> if it close to other buildings built at the
              same time,
              following the same construction methods, and using the same materials.
              Most of the time, they will seem virtually identical copies.
            </p>
          </div>
          <div class="infobox-section">
            <em>Relevance:</em>
            <p class="infobox-p">
              This is important for retrofits as a good candidate building part of a cluster creates economies of scale
              which
              makes retrofitting the whole cluster more attractive than retrofitting a single building.
            </p>
          </div>
          <div class="infobox-section">
            <em>Note:</em>
            <p class="infobox-p">
              Presence of the <span class="badge text-bg-info">Multiple Addresses</span> tag makes this more likely
              as the evaluation unit could contain multiple buildings.
            </p>
          </div>
          <div class="infobox-section">
            <strong>Example 1:</strong>
            <p class="infobox-p">
              We can see from the streetview that there is an almost identical building to the right.
              The satellite view gives a bigger picture where wee see that there seems to be a 5 building cluster.
            </p>
            <img class="infobox-img img-fluid" loading="lazy" 
              src="{% static 'images/survey_info/q1_selfsimilar/selfsimilar_sv.jpg' %}"
              alt="A streetview of a building part of a self-similar cluster"
              loading="lazy"
            >
            <img class="infobox-img img-fluid" loading="lazy" 
              src="{% static 'images/survey_info/q1_selfsimilar/selfsimilar_sat.jpg' %}"
              alt="A satellite view of a building part of a self-similar cluster"
              loading="lazy"
            >
          </div>

          <div class="infobox-section">
            <strong>
              Example 2:
            </strong>
            <p class="infobox-p">
              Again, it is clear from the streetview image that there are multiple similar buildings.
              The satellite view shows a cluster of 4 (or 8) buildings.
            </p>
            <img class="infobox-img img-fluid" loading="lazy" 
              src="{% static 'images/survey_info/q1_selfsimilar/selfsimilar_sv_2.jpg' %}"
              alt="Another streetview of a building part of a self-similar cluster"
              loading="lazy"
            >
            <img class="infobox-img img-fluid" loading="lazy" 
              src="{% static 'images/survey_info/q1_selfsimilar/selfsimilar_sat_2.jpg' %}"
              alt="Another satellite view of a building part of a self-similar cluster" 
              loading="lazy"
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Q2 Footprint Question Modal -->
<div class="modal fade" id="{{ form.has_simple_footprint.name }}" tabindex="-1"
  aria-labelledby="{{ form.has_simple_footprint.name }}_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ form.has_simple_footprint.name }}_label">
          Q{{form.field_ordering.has_simple_footprint}}: Building Footprint
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A building has a <strong>simple footprint</strong> if its intersection with the ground is 
              through one or two simple geometric shapes (one or two rectangles). A complex footprint can 
              have many corners, irregular angles, or multiple shapes of different types.  
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Q3 Simple Volume Question  -->
  <div class="modal fade" id="{{ form.has_simple_volume.name }}" tabindex="-1"
    aria-labelledby="{{ form.has_simple_volume.name }}_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{ form.has_simple_volume.name }}_label">
            Q{{form.field_ordering.has_simple_volume}}: Volumetric Shape
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A <strong>simple volumetric form</strong> is a rectangular volume or a combination of a few rectangular 
              volumes. A complex volumetric form can be any irregular volumes, often consisting of free-flowing 
              curves, or of many rectangular volumes creating many angles. 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Q4 Number of Storeys Question  -->
  <div class="modal fade" id="{{ form.num_storeys.name }}" tabindex="-1"
    aria-labelledby="{{ form.num_storeys.name }}_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{ form.num_storeys.name }}_label">
            Q{{form.field_ordering.num_storeys}}: Number of Storeys
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="infobox-section">
            <em>Definition:</em>
            <p>Any storey (floor) above the surface of the ground is a storey above-ground.
              The basement is not considered a storey.
            </p>  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    <!-- Q5 Basement Question  -->
    <div class="modal fade" id="{{ form.has_basement.name }}" tabindex="-1"
      aria-labelledby="{{ form.has_basement.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.has_basement.name }}_label">
              Q{{form.field_ordering.has_basement}}: Basement
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                Any floor partly or entirely submerged in the ground is a basement. A building is likely to have 
                a basement if there are windows between the ground level and the first floor. 
              </p>
              <img class="infobox-img img-fluid" loading="lazy" 
                src="{% static 'images\survey_info\q5\q5.jpg' %}  ">  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q6 Site Obstructions Question  -->
    <div class="modal fade" id="{{ form.site_obstructions.name }}" tabindex="-1"
      aria-labelledby="{{ form.site_obstructions.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.site_obstructions.name }}_label">
              Q{{form.field_ordering.site_obstructions}}: Site Obstructions
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <div class="infobox-section">
                <em>Definition:</em>
                <p class="infobox-p">
                  Please select any <strong>potential barriers</strong> that would hinder a crane's access to the 
                  building façade, such as: power lines or very large/old trees within 3m of the building, 
                  or another building less than 3m away. Row homes or other buildings sharing walls with the 
                  building in question do not count as obstructions.
                </p>
              </div>
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Common retrofit approaches include installing panel solutions by crane, therefore obstructions 
                may create challenges in the installation process. 
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q7 Appendages Question  -->
    <div class="modal fade" id="{{ form.appendages.name }}" tabindex="-1"
      aria-labelledby="{{ form.appendages.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.appendages.name }}_label">
              Q{{form.field_ordering.appendages}}: Appendages
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                <strong>Appendages</strong> are any noticeable extruding features on the building including: balconies, large roof overhangs, 
                or decorative protrusions.
              </p>
            </div>
          <div class="infobox-section">
            <em>Relevance:</em>
            <p class="infobox-p">
              Extruding features on the building increase the complexity of installing panelized retrofit solutions. 
              In addition, the anchoring structure that connects balconies to the building structure is often a major cause 
              of <a href="https://passipedia.org/basics/building_physics_-_basics/thermal_bridges/thermal_bridge_definition">thermal bridging</a>. The anchoring structure creates a direct link between the interior and the exterior environment, 
              enabling heat transfer, which implies that the building is likely to be less energy efficient.  
            </p>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q8 Exterior Cladding Question  -->
    <div class="modal fade" id="{{ form.exterior_cladding.name }}" tabindex="-1"
      aria-labelledby="{{ form.exterior_cladding.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.exterior_cladding.name }}_label">
              Q{{form.field_ordering.exterior_cladding}}: Exterior Cladding
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <img class="infobox-img img-fluid"
              loading="lazy" 
              src="{% static 'images\survey_info\q8\q8-01.jpg' %}  ">  
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Panelized retrofit strategies need to consider the existing wall composition and 
                materials because some materials are more able to support panelized solutions than others. 
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q9 Facade Condition Question  -->
    <div class="modal fade" id="{{ form.facade_condition.name }}" tabindex="-1"
      aria-labelledby="{{ form.facade_condition.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.facade_condition.name }}_label">
              Q{{form.field_ordering.facade_condition}}: Façade Condition
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                A façade in poor condition may include: cladding material in poor shape with multiple areas 
                displaying mold infestation and/or rot, noticeable water stains that can be identified at first 
                glance, or if the overall condition of the exterior façade appears to be due for renovation. 
              </p>
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Buildings with façades in poor condition are already in need of renovation at which point a 
                panelized retrofit can be done at little extra cost, and added benefits.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <!-- Q10 Glazing Question  -->
    <div class="modal fade" id="{{ form.window_wall_ratio.name }}" tabindex="-1"
      aria-labelledby="{{ form.window_wall_ratio.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.window_wall_ratio.name }}_label">
              Q{{form.field_ordering.window_wall_ratio}}: Glazing Ratio
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <p class="infobox-p">
                The following diagram illustrates proportions of glazing (fenestration) relative to the façade area.
              </p> 
              <p class="infobox-p">
                <em>Note:</em>
                Please check all visible façades to answer this question. 
              </p> 
            <img class="infobox-img img-fluid" 
              loading="lazy" 
              src="{% static 'images\survey_info\q10-glazing\q10-Glazing.jpg' %}">  
          </div>   
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q11 Large or Irregular Windows Question  -->
    <div class="modal fade" id="{{ form.large_irregular_windows.name }}" tabindex="-1"
      aria-labelledby="{{ form.large_irregular_windows.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.large_irregular_windows.name }}_label">
              Q{{form.field_ordering.large_irregular_windows}}: Large or Irregular Windows
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                A window is considered <strong>very large</strong> when it is larger than 2m (the usual height of a door) 
                in any direction.
              </p>
              <p class="infobox-p">
                A window is considered <strong>irregularly shaped</strong> if it is not a rectangle.
              </p>
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Very large windows contribute significantly to heat and cooling loss, therefore buildings with 
                large windows are likely to be energy inefficient, and therefore good candidates for retrofits. 
              </p>
              <p class="infobox-p">
                Irregularly shaped windows make a prefabricated panelized retrofit more difficult as panels need to 
                be cut to shape.
              </p>
            </div>
            <div class="infobox-section">
              <strong>Examples of very large windows:</strong>
              <img 
                class="infobox-img img-fluid" 
                loading="lazy" 
                src="{% static 'images\survey_info\q11-largewindow\q11-largeirregularwindows.jpg' %}">  
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q12 Roof Geometry Question  -->
    <div class="modal fade" id="{{ form.roof_geometry.name }}" tabindex="-1"
      aria-labelledby="{{ form.roof_geometry.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.roof_geometry.name }}_label">
              Q{{form.field_ordering.roof_geometry}}: Roof Geometry
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p>
                A pitched roof is a roof with a single slope (shed), or two slopes meeting (gable roof), 
                or 4 slopes all meeting (pyramid). Whereas a complex roof may have multiple pitches and one 
                or more other gables, or irregular shapes. 
              </p>
            </div>
            <div class="infobox-section">
              <em>Relevance to Retrofits:</em>
              <p class="infobox-p">
                Complex roof geometries increase the complexity of retrofit strategies in their analysis, design and 
                installation processes.  
              </p>
            </div>
            <div class="infobox-section">
              <strong>Roof typologies:</strong>
            <img class="infobox-img img-fluid" loading="lazy" 
            src="{% static 'images\survey_info\q12-rooftypes\q12-rooftypes.jpg' %}  ">
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q13 New or Renovates Question  -->
    <div class="modal fade" id="{{ form.roof_geometry.name }}" tabindex="-1"
      aria-labelledby="{{ form.roof_geometry.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.roof_geometry.name }}_label">
              Q{{form.field_ordering.roof_geometry}}: New or Renovated Buildings
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Put your content here! You can use any type of tags here. See the code for the self-similar cluster modal
            for inspiration.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>