<!-- Gathers all the JS/CSS given to field widgets and imports them -->
{{ form.media }}

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.self_similar_cluster}}: {{ form.self_similar_cluster.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id=form.self_similar_cluster.name %}
  </legend>
  {{ form.self_similar_cluster }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_simple_footprint}}: {{ form.has_simple_footprint.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id=form.has_simple_footprint.name %}
  </legend>
  {{ form.has_simple_footprint }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_simple_volume}}: {{ form.has_simple_volume.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_simple_volume" %}
  </legend>
  {{ form.has_simple_volume }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.num_storeys}}: {{ form.num_storeys.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="num_storeys" %}
  </legend>
  {{ form.num_storeys }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.has_basement}}: {{ form.has_basement.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="has_basement" %}
  </legend>
  {{ form.has_basement }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.site_obstructions}}: {{ form.site_obstructions.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="site_obstructions" %}
  </legend>

  {% with initial=form.site_obstructions.initial %}
  {{ form.site_obstructions }}
  {% endwith %}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.appendages}}: {{ form.appendages.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="appendages" %}
  </legend>
  {{ form.appendages }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.exterior_cladding}}: {{ form.exterior_cladding.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="exterior_cladding" %}
  </legend>
  {{ form.exterior_cladding }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.facade_condition}}: {{ form.facade_condition.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="facade_condition" %}
  </legend>
  {{ form.facade_condition }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.window_wall_ratio}}: {{ form.window_wall_ratio.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="window_wall_ratio" %}
  </legend>
  {{ form.window_wall_ratio }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.large_irregular_windows}}: {{ form.large_irregular_windows.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="large_irregular_windows" %}
  </legend>
  {{ form.large_irregular_windows }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.roof_geometry}}: {{ form.roof_geometry.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="roof_geometry" %}
  </legend>
  {{ form.roof_geometry }}
</fieldset>

<fieldset class="q-container">
  <legend class="q-header">
    <strong>Q{{form.field_ordering.new_or_renovated}}: {{ form.new_or_renovated.help_text }}</strong>
    {% include 'buildings/utils/info_modal_button.html' with modal_id="new_or_renovated" %}
  </legend>
  {{ form.new_or_renovated }}
</fieldset>


<!-- Information Modals -->
<div class="modal fade" id="{{ form.self_similar_cluster.name }}_info" tabindex="-1"
  aria-labelledby="{{ form.self_similar_cluster.name }}_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ form.self_similar_cluster.name }}_label">
          Q{{form.field_ordering.self_similar_cluster}}: Self-Similar Clusters
        </h1>
        <button id="{{ form.self_similar_cluster.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A building is part of a <strong>self-similar cluster</strong> if it close to other buildings built at the
              same time, following the same construction methods, and using the same materials.
              Most of the time, they will seem virtually identical copies.
            </p>
          </div>
          <div class="infobox-section">
            <em>Relevance:</em>
            <p class="infobox-p">
              This is important for the value case of retrofits, as a multi-building project has economies of scale
              which makes retrofitting a cluster more attractive than retrofitting a single building.
            </p>
          </div>
          <div class="infobox-section">
            <em>Note:</em>
            <p class="infobox-p">
              Presence of the <span class="badge text-bg-info">Multiple Addresses</span> tag makes this more likely
              as the evaluation unit could contain multiple buildings.
            </p>
          </div>
          <div class="infobox-section">
            <strong>Example 1:</strong>
            <p class="infobox-p">
              We can see from the streetview that there is an almost identical building to the right.
              The satellite view gives a bigger picture where wee see that there seems to be a 5 building cluster.
            </p>
            <img class="infobox-img img-fluid"
              src="{% static 'images/survey_info/q1_cluster/selfsimilar_sv.jpg' %}"
              alt="A streetview of a building part of a self-similar cluster"
              loading="lazy"
            >
            <img class="infobox-img img-fluid"
              src="{% static 'images/survey_info/q1_cluster/selfsimilar_sat.jpg' %}"
              alt="A satellite view of a building part of a self-similar cluster"
              loading="lazy"
            >
          </div>

          <div class="infobox-section">
            <strong>
              Example 2:
            </strong>
            <p class="infobox-p">
              Again, it is clear from the streetview image that there are multiple similar buildings.
              The satellite view shows a cluster of 4 (or 8) buildings.
            </p>
            <img class="infobox-img img-fluid"
              src="{% static 'images/survey_info/q1_cluster/selfsimilar_sv_2.jpg' %}"
              alt="Another streetview of a building part of a self-similar cluster"
              loading="lazy"
            >
            <img class="infobox-img img-fluid"
              src="{% static 'images/survey_info/q1_cluster/selfsimilar_sat_2.jpg' %}"
              alt="Another satellite view of a building part of a self-similar cluster" 
              loading="lazy"
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Q2 Footprint Question Modal -->
<div class="modal fade" id="{{ form.has_simple_footprint.name }}_info" tabindex="-1"
  aria-labelledby="{{ form.has_simple_footprint.name }}_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ form.has_simple_footprint.name }}_label">
          Q{{form.field_ordering.has_simple_footprint}}: Building Footprint
        </h1>
        <button id="{{ form.has_simple_footprint.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A building has a <strong>simple footprint</strong> if its intersection with the ground is 
              through one or two simple geometric shapes (one or two rectangles). A complex footprint can 
              have many corners, irregular angles, or multiple shapes of different types.  
            </p>
          </div>
          <div class="infobox-section">
            <em>Note:</em>
            <p class="infobox-p">
              This is usually more readily visible from the satellite view of the building.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Q3 Simple Volume Question  -->
  <div class="modal fade" id="{{ form.has_simple_volume.name }}_info" tabindex="-1"
    aria-labelledby="{{ form.has_simple_volume.name }}_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{ form.has_simple_volume.name }}_label">
            Q{{form.field_ordering.has_simple_volume}}: Volumetric Shape
          </h1>
          <button id="{{ form.has_simple_volume.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              A <strong>simple volumetric form</strong> is a rectangular volume or a combination of a few rectangular 
              volumes. A complex volumetric form can be any irregular volumes, often consisting of free-flowing 
              curves, or of many rectangular volumes creating many angles. 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Q4 Number of Storeys Question  -->
  <div class="modal fade" id="{{ form.num_storeys.name }}_info" tabindex="-1"
    aria-labelledby="{{ form.num_storeys.name }}_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{ form.num_storeys.name }}_label">
            Q{{form.field_ordering.num_storeys}}: Number of Storeys
          </h1>
          <button id="{{ form.num_storeys.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="infobox-section">
            <em>Definition:</em>
            <p class="infobox-p">
              Any storey (floor) above the surface of the ground is a storey above-ground.
              The basement is not considered a storey.
            </p>  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    <!-- Q5 Basement Question  -->
    <div class="modal fade" id="{{ form.has_basement.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.has_basement.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.has_basement.name }}_label">
              Q{{form.field_ordering.has_basement}}: Basement
            </h1>
            <button  id="{{ form.has_basement.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                Any floor partly or entirely submerged in the ground is a basement. A building is likely to have 
                a basement if there are windows between the ground level and the first floor. 
              </p>
              <img class="infobox-img img-fluid" 
                loading="lazy" 
                src="{% static 'images/survey_info/q5_basement/q5_basement.jpg' %}">  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q6 Site Obstructions Question  -->
    <div class="modal fade" id="{{ form.site_obstructions.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.site_obstructions.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.site_obstructions.name }}_label">
              Q{{form.field_ordering.site_obstructions}}: Site Obstructions
            </h1>
            <button id="{{ form.site_obstructions.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <div class="infobox-section">
                <em>Definition:</em>
                <p class="infobox-p">
                  Please select any <strong>potential barriers</strong> that would hinder a crane's access to the 
                  building façade, such as: power lines or very large/old trees within 3m of the building, 
                  or another building less than 3m away. 
                </p>
              </div>
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Common retrofit approaches include installing panel solutions by crane, therefore obstructions 
                may create challenges in the installation process and even make a panelized retrofit infeasible.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q7 Appendages Question  -->
    <div class="modal fade" id="{{ form.appendages.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.appendages.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.appendages.name }}_label">
              Q{{form.field_ordering.appendages}}: Appendages
            </h1>
            <button id="{{ form.appendages.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                <strong>Appendages</strong> are any noticeable extruding features on the building including: balconies, large roof overhangs, 
                or decorative protrusions.
              </p>
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Appendages increase the complexity of doing panelized retrofits, as they will have to be removed in most cases.
                Regarding balconies, they are often a major cause of 
                <a href="https://passipedia.org/basics/building_physics_-_basics/thermal_bridges/thermal_bridge_definition">
                  thermal bridging </a> which leads to heat loss and energy inefficiency.
              </p>
            </div>
            <div lass="infobox-section">
              <em>Note:</em>
              <p class="infobox-p">
                Considering most people are attached to their balconies and they have to be removed for panelized retrofits, they
                could be a source of conflict and work against the project starting. Balconies can always be added back over the panels,
                but at a higher project cost.
              </p>
            </div>
            <div class="infobox-section mt-1">
              <strong>Example:</strong>
              <p class="infobox-p">
                The following building has a lot of appendages, including balconies, eaves, porches.
              </p>
              <img class="infobox-img img-fluid" 
                loading="lazy" 
                src="{% static 'images/survey_info/q7_appendages/weird_appendages.png' %}">  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q8 Exterior Cladding Question  -->
    <div class="modal fade" id="{{ form.exterior_cladding.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.exterior_cladding.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.exterior_cladding.name }}_label">
              Q{{form.field_ordering.exterior_cladding}}: Exterior Cladding
            </h1>
            <button id="{{ form.exterior_cladding.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <img class="infobox-img img-fluid"
              loading="lazy" 
              src="{% static 'images/survey_info/q8_cladding/q8_cladding.jpg' %}  ">  
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Panelized retrofit strategies need to consider the existing wall composition and 
                materials because some materials are more able to support panelized solutions than others. 
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q9 Facade Condition Question  -->
    <div class="modal fade" id="{{ form.facade_condition.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.facade_condition.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.facade_condition.name }}_label">
              Q{{form.field_ordering.facade_condition}}: Façade Condition
            </h1>
            <button id="{{ form.facade_condition.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                A façade in poor condition may include: cladding material in poor shape with multiple areas 
                displaying mold infestation and/or rot, noticeable water stains that can be identified at first 
                glance, or if the overall condition of the exterior façade appears to be due for renovation. 
              </p>
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Buildings with façades in poor condition are already in need of renovation at which point a 
                panelized retrofit can be done at little extra cost, and provide additional benefits. We call these 
                "anyway" retrofits.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <!-- Q10 Glazing Question  -->
    <div class="modal fade" id="{{ form.window_wall_ratio.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.window_wall_ratio.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.window_wall_ratio.name }}_label">
              Q{{form.field_ordering.window_wall_ratio}}: Glazing Ratio
            </h1>
            <button  id="{{ form.window_wall_ratio.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <p class="infobox-p">
                The following diagram illustrates proportions of glazing (fenestration) relative to the façade area.
              </p>
            </div>
            <div class="infobox-section">
              <p class="infobox-p">
                <em>Relevance:</em>
                A large glazing area is synonymous with large heating losses in a lot of cases, so targeting these buildings
                for panelized retrofits makes sense. Windows are most often replaced in a panelized retrofit, where they can 
                be ugraded to more energy efficient models.
              </p> 
            </div>
            <div class="infobox-section">
              <p class="infobox-p">
                <em>Note:</em>
                Please check all visible façades to answer this question. 
              </p> 
              <img class="infobox-img img-fluid" 
                loading="lazy" 
                src="{% static 'images/survey_info/q10_glazing/q10_glazing.jpg' %}">  
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q11 Large or Irregular Windows Question  -->
    <div class="modal fade" id="{{ form.large_irregular_windows.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.large_irregular_windows.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.large_irregular_windows.name }}_label">
              Q{{form.field_ordering.large_irregular_windows}}: Large or Irregular Windows
            </h1>
            <button id="{{ form.large_irregular_windows.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                A window is considered <strong>very large</strong> when it is larger than 2m (the usual height of a door) 
                in any direction.
              </p>
              <p class="infobox-p">
                A window is considered <strong>irregularly shaped</strong> if it is not a rectangle.
              </p>
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Very large windows contribute significantly to heating and cooling loss, therefore buildings with 
                large windows are likely to be energy inefficient, and therefore good candidates for retrofits.
              </p>
              <p class="infobox-p">
                Irregularly shaped windows make a prefabricated panelized retrofit more difficult as panels need to 
                be cut to shape. Additionally, they make the replication and scaling up of solutions infeasible since
                panels must be addapted to the specific window. 
              </p>
            </div>
            <div class="infobox-section">
              <strong>Examples of very large windows:</strong>
              <img 
                class="infobox-img img-fluid" 
                loading="lazy" 
                src="{% static 'images/survey_info/q11_largewindow/q11_examples.jpg' %}">  
            </div>
            <div class="infobox-section">
              <strong>Example of large and irregular windows:</strong>
              <p class="infobox-p">The following building has both irregular (the small round ones and those with a rounded top) and large windows.</p>
              <img 
                class="infobox-img img-fluid" 
                loading="lazy" 
                src="{% static 'images/survey_info/q11_largewindow/q11_irregular.jpg' %}">  
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q12 Roof Geometry Question  -->
    <div class="modal fade" id="{{ form.roof_geometry.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.roof_geometry.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.roof_geometry.name }}_label">
              Q{{form.field_ordering.roof_geometry}}: Roof Geometry
            </h1>
            <button id="{{ form.roof_geometry.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p class="infobox-p">
                A pitched roof is a roof with a single slope (shed), or two slopes meeting (gable roof), 
                or 4 slopes all meeting (pyramid). Whereas a complex roof may have multiple pitches and one 
                or more other gables, or irregular shapes. 
              </p>
              <p class="infobox-p">
                If a roof is pitched, it will have a pitch angle. A <strong>high pitch</strong> roof is anyone above a 6/12 in the roof pitch angle
                diagram below, otherwise it is considered <strong>low pitch</strong>
              </p>
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                Complex and high pitch roofs increase the complexity of retrofit strategies in their analysis, design and 
                installation processes, even making certain projects infeasible.
              </p>
            </div>
            <div class="infobox-section">
              <strong>Roof typologies:</strong>
              <img class="infobox-img img-fluid" loading="lazy" 
                src="{% static 'images/survey_info/q12_rooftypes/q12_rooftypes.jpg' %}">
            </div>
            <div class="infobox-section">
              <strong>Pitch angles:</strong>
              <img class="infobox-img img-fluid" loading="lazy" 
              src="{% static 'images/survey_info/q12_rooftypes/q12_pitches.jpg' %}">
            </div>
            <div class="infobox-section">
              <strong>Examples:</strong>
              <p class="infobox-p">
                The following buildings both have a complex, high-pitched roof.
              </p>
              <img class="infobox-img img-fluid" loading="lazy" 
              src="{% static 'images/survey_info/q12_rooftypes/high_pitched_complex.png' %}">
              <img class="infobox-img img-fluid" loading="lazy" 
              src="{% static 'images/survey_info/q12_rooftypes/high_pitched_complex_2.png' %}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Q13 New or Renovates Question  -->
    <div class="modal fade" id="{{ form.new_or_renovated.name }}_info" tabindex="-1"
      aria-labelledby="{{ form.roof_geometry.name }}_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="{{ form.roof_geometry.name }}_label">
              Q{{form.field_ordering.roof_geometry}}: New or Renovated Buildings
            </h1>
            <button id="{{ form.new_or_renovated.name }}_info_close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="infobox-section">
              <em>Definition:</em>
              <p>
                If the building was built after the year 2000 or visually appears to be in exceptionally 
                good condition with evidence of recent renovation, we can assume it has been recently renovated.   
              </p> 
            </div>
            <div class="infobox-section">
              <em>Relevance:</em>
              <p class="infobox-p">
                New and renovated buildings are very poor candidates for retrofits since they are already in good 
                condition and are likely to have decent energy performance. Retrofitting these buildings is most 
                likely unjustifiable from a business/value case perspective, considering building investments are 
                made with a 30-40y horizon.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>