{% extends 'buildings/base.html' %}

{% block content %}

<script src="{% static 'scripts/map.js' %}"></script>
<script> 
    let map;
    function initMap() {
        const lat = parseFloat("{{ building.lat }}");
        const lon = parseFloat("{{ building.lon }}");

        const map = new google.maps.StreetViewPanorama(
          document.getElementById("map"),
          {
            position: { lat: lat, lng: lon },
            zoom: 0,
            pov: {
              heading: 0,
              pitch: 0,
            },
          }
      );
    }
  window.initMap = initMap;
</script>


<div class="pageholder">
  <div class="classify-top-row">
    <div class="building-info">
      <div class="building-id-and-report">
        <div class="building-id">
          <h2>
            Building #{{ building.id }} 
          </h2>
        </div>
        <!-- <div class="report-building">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          Report bad data
        </div> -->
      </div>
      <div class="building-address">
        <p>
          {{ building.formatted_address }}
        </p>
      </div>
    </div>
    <div class="skip-building">
      <a id="next" href="{% url 'buildings:classify' next_building %}">Next Building &raquo;&raquo;</a>
    </div>
  </div>
  <div class="mapholder">
    <div id="map"></div>
    <!-- Uncomment to activate streetview container - will incur API cost -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly" defer></script>
  </div>
  <div class="building-selection mt-3">
    <form action="{% url 'buildings:classify' building.id %}" method="post">
      {% csrf_token %}
      <legend>
        <p>
          What materials make up the building facade?
        </p>
      </legend>
        <table id="vote-table" class="table vote-table">
          <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">Very Unlikely</th>
              <th scope="col">Unlikely</th>
              <th scope="col">Unclear</th>
              <th scope="col">Likely</th>
              <th scope="col">Very Likely</th>
            </tr>
          </thead>
          <tbody>
            <tr id="row-1">
              <th class="material-name ml-2" scope="row">
                <select id="material-select-1" class="material-select" name="material-1">
                  {% for material in existing_materials %}
                  <option value="{{ material }}" {% if forloop.counter0 == 0 %}selected{%endif%}>{{ material }}</option>
                  {% endfor %}
                  <option value="new-material">New material</option>
                </select>
              </th>
              <td class="td-vote">
                <input type="radio" name="material-1" value="1" required/></td>
              <td class="td-vote">
                <input type="radio" name="material-1" value="2"/></td>
              <td class="td-vote">
                <input type="radio" name="material-1" value="3"/></td>
              <td class="td-vote">
                <input type="radio" name="material-1" value="4"/></td>
              <td class="td-vote">
                <div class="td-vote-last-cell">
                  <input type="radio" name="material-1" value="5"/>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="note-container" class="note-container"></div>
        <div class="btn-row">
          <button id="btn-add-row"  type="button" class="btn">Add Material</button>
          <button id="btn-add-note" type="button" class="btn">Add Note</button>
        </div>
        <div class="classify-button-container mt-3">
          <input id="btn-submit-vote" class="btn btn-vote" type="submit" value="Submit">
        </div>
    </form>
  </div>
</div>

{{ existing_materials | json_script:"existing_materials" }}


{% endblock content %}
