{% extends 'buildings/base.html' %}

{% block content %}
{% load humanize %}

{{ building_latest_view_data | json_script:"building_latest_view_data" }}

<script src="{% static 'scripts/map.js' %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'buildings/style.css'%}" media = "print">

<script>
    var map;
    var sv;
    var m_marker;
    var sv_marker;

    var panoRequest;
    var building_coord;


    function initMaps() {
      const svService = new google.maps.StreetViewService();

      // If we have already seen the building, get the latest user defined view
      const building_latest_view_data = JSON.parse(document.getElementById('building_latest_view_data').textContent);

      if (building_latest_view_data) {
        panoRequest = {
          pano: building_latest_view_data['sv_pano']
        };

        building_coord = {
          lat: building_latest_view_data['marker_lat'],
          lng: building_latest_view_data['marker_lng']
        };
      }
      // No preivously saved view data
      // we will search for best panorama
      else {
        building_coord = {
          lat: parseFloat("{{ building.lat }}"),
          lng: parseFloat("{{ building.lon }}")
        };

        panoRequest = {
          location: building_coord,
          preference: google.maps.StreetViewPreference.BEST,
          radius: 50,
          source: google.maps.StreetViewSource.OUTDOOR
        };
      }

      function findPanoramaByRadius(panoRequest, building_coord) {

        console.log(`Searching using radius`);

        svService.getPanorama(panoRequest, function(panoData, status) {
          if (status === google.maps.StreetViewStatus.OK) {

            console.log("Found Panorama")
            // Calculate the correct direction the camera must face
            // based on the panorama default location and the building location
            const heading = google.maps.geometry.spherical.computeHeading(panoData.location.latLng, building_coord);

            sv = new google.maps.StreetViewPanorama(
              document.getElementById('streetview'),
              {
                  position: building_coord,
                  center: building_coord,
                  zoom: 0,
                  pov: {
                    heading: heading,
                    pitch: 0,
                  },
              });

              sv_marker = new google.maps.Marker({
                position: building_coord,
                map: sv,
                title: "Building",
                draggable: true,
              });

              sv_marker.addListener("dragend", ()=> {
                m_marker.setPosition(sv_marker.getPosition());
              })

              // Setting the panorama after the marker has been defined,
              // otherwise the marker does not show for some reason!
              // https://stackoverflow.com/questions/23498921/google-street-view-with-custom-panorama-and-markers
              sv.setPano(panoData.location.pano);
              window.sv = sv;

              map = new google.maps.Map(document.getElementById("satmap"), {
                center: building_coord,
                mapTypeId: 'satellite',
                zoom: 18,
                // streetViewControl: false,
                rotateControl: false,
                controlSize: 25,
              });

              m_marker = new google.maps.Marker({
                position: building_coord,
                map: map,
                draggable: true,
              });

              map.setStreetView(sv);
              window.map = map;

              // Listen to the marker being dragged and update the one on the streetview to match
              m_marker.addListener("dragend", ()=> {
                sv_marker.setPosition(m_marker.getPosition());
              })
          }
          else {
            var radius = panoRequest.radius
            //Handle other statuses here
            if (radius > 200) {
              console.log(`Could not find a street view within ${radius}m of building! Giving up.`);
              elem = document.createElement('div');
              elem.innerText = "Could not find Panorama for location";
              document.getElementById("streetview").appendChild(elem);
              return False;
            }
            else {
              console.log(`Could not find street view within ${radius}m, trying again within ${radius+50}m.`)
              panoRequest.radius = panoRequest.radius + 50;
              findPanoramaByRadius(panoRequest, building_coord);
            }
          }
        });
        }

      function findPanoramaById(panoRequest, building_coord) {
        console.log(`Searching for panorama using Id: ${panoRequest.pano}`);

        svService.getPanorama(panoRequest, function(panoData, status) {
          if (status === google.maps.StreetViewStatus.OK) {

            const heading = building_latest_view_data['sv_heading'];
            const zoom = building_latest_view_data['sv_zoom'];
            const pitch = building_latest_view_data['sv_pitch'];

            sv = new google.maps.StreetViewPanorama(
              document.getElementById('streetview'),
              {
                  position: building_coord,
                  center: building_coord,
                  zoom: zoom,
                  pov: {
                    heading: heading,
                    pitch: pitch,
                  },
              });

              sv_marker = new google.maps.Marker({
                position: building_coord,
                map: sv,
                title: "Building",
                draggable: true,
              });

              sv_marker.addListener("dragend", ()=> {
                m_marker.setPosition(sv_marker.getPosition());
              })

              // Setting the panorama after the marker has been defined,
              // otherwise the marker does not show for some reason!
              // https://stackoverflow.com/questions/23498921/google-street-view-with-custom-panorama-and-markers
              sv.setPano(panoData.location.pano);
              window.sv = sv;

              map = new google.maps.Map(document.getElementById("satmap"), {
                center: building_coord,
                mapTypeId: 'satellite',
                zoom: 18,
                // streetViewControl: false,
                rotateControl: false,
                controlSize: 25,
              });

              m_marker = new google.maps.Marker({
                position: building_coord,
                map: map,
                draggable: true,
              });

              map.setStreetView(sv);
              window.map = map;

              // Listen to the marker being dragged and update the one on the streetview to match
              m_marker.addListener("dragend", ()=> {
                sv_marker.setPosition(m_marker.getPosition());
              })
          }
          else {
            console.log(`Could not find panorama id ${panoRequest.pano}. Searching using radius`);
            // Making a radius search request
            panoRequest = {
              location: building_coord,
              preference: google.maps.StreetViewPreference.BEST,
              radius: 50,
              source: google.maps.StreetViewSource.OUTDOOR
            };
            return findPanoramaByRadius(panoRequest, building_coord);
          }
        });
      }

      if (building_latest_view_data)
        findPanoramaById(panoRequest, building_coord);
        else
        findPanoramaByRadius(panoRequest, building_coord);
    }

    window.initMaps = initMaps;
</script>

<section class="container-wide mb-3">
  <div class="classify-top-row">
    <div class="building-nav building-nav-left">
      <a id="prev-building-link">&laquo;&laquo; Prev</a>
    </div>
    <div class="building-info">

      <div class="building-info-col">
        <div class="building-id">
          <h4>
            Building #{{ building.id }}
          </h4>
        </div>
        <div>
          {{ building.formatted_address }}
        </div>
        <div class="building-cubf">
          CUBF {{ building.cubf }}: {{ building.cubf_name }}
        </div>
      </div>
      <div class="building-info-col ml-5">
        <div>
          Const. year:
          {% if building.construction_year != 9999 %}
            {{ building.construction_year }}
            {% if building.year_real_esti == 'E' %}
            (Est.)
            {% endif %}
          {% else %}
          &mdash;
          {% endif %}
        </div>
        <div>
          Max floors:
          {% if building.max_num_floor %}
          {{ building.max_num_floor }}
          {% else %}
          &mdash;
          {% endif %}
        </div>
        <div>
          Floor area:
          {% if building.floor_area != 9999.0 %}
          {{ building.floor_area }} m<sup>2</sup>
          {% else %}
          &mdash;
          {% endif %}
        </div>
      </div>

      <div class="building-info-col ml-5">
        <div>
          Type const.:
          {% if building.type_const %}

          {% include "buildings/utils/construction_type.html" with type_const=building.type_const %}

          {% else %}
          &mdash;
          {% endif %}
        </div>
        <div>
          Property value: ${{ building.value_prop|intcomma }}
        </div>
        <div>
          Non-res premises:
          {% if building.num_non_res %}

          {{ building.num_non_res }}
          {% else %}
          &mdash;
          {% endif %}
        </div>
      </div>
      <button id="btn-no-building" type="button" class="btn btn-danger btn-no-building ml-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        No Building
      </button>
    </div>
    <div class="building-nav building-nav-right">
      <a id="next" href="{% url 'buildings:classify' next_building %}">Next &raquo;&raquo;</a>
    </div>
  </div>
</section>

<section class="container-wide">
  <!--overall container-->
  <div class="streetview-and-map-container" >
    <div class="streetview-container ml-3">
      <div id="streetview"></div>
    </div>
    <div id="dragbar"></div>

    <!--min width here style = 'min-width: 42%"-->
    <div class="map-and-submit-container mr-3"  style = 'min-width: 42%' >

      <!--navigation bar-->
      <nav >
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-satellite-tab" data-bs-toggle="tab" data-bs-target="#nav-satellite" type="button" role="tab" aria-controls="nav-satellite" aria-selected="true" >Satellite</button>
          <button class="nav-link" id="nav-survey-tab" data-bs-toggle="tab" data-bs-target="#nav-survey" type="button" role="tab" aria-controls="nav-survey" aria-selected="false" onclick={TestsFunction()}>Survey</button>
        </div>
      </nav>

      <!--division: division of satellite image and survey questionnaires -->
      <div class="tab-content" id="nav-tabContent" >
        <!-- TestsFunction() script-->
        <div class="tab-pane show" id="nav-survey" role="tabpanel" aria-labelledby="nav-survey-tab"  style="display: none;">
          <!--$(document).ready(function() -->
          <!-- style sheet section 0 -->

          <!--below is the first scrolling survey -->
          <div id="scroll">

            <div class="text-center">
              <h5>
                <strong>Section 1: Three Mandatory Questions</strong>
              </h5>
            </div>
            <hr />

            <form id="building-submission-form" action="{% url 'buildings:classify' building.id %}" method="post">
              <!-- Necessary for security -->
              {% csrf_token %}
              
              <!-- Q1 -->
              <!-- I changed this one to have a container for the header and choices, and to use <fieldset> tags around it -->
              <fieldset class="q-container pl-3">
                <legend class="q-header pb-1">
                  <strong>Q1: What is the cladding material? (Select all that apply)</strong>
                </legend>
                <div class="q-choices survey-3col" id="Q1">
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Brick"/>Brick</div>
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Ceramic"/>Ceramic</div>
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Concrete"/>Concrete</div>
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Curtain_wall"/>Curtain wall</div>
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Masonry"/>Masonry</div>
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Metal"/>Metal</div>
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Vinyl"/>Vinyl</div>
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Wood"/>Wood</div>
                  <div><input class="mr-1" type="checkbox" name="Q1" value="Unsure"/>Unsure</div>
                </div>
              </fieldset>

              <!-- Q2 -->
              <p class="text-center"><strong>Q2: What kind of roof does the building have?</strong></p>
              <div class="survey" id="Q2">
                <div><input class="mr-1" type="radio" name="Q2" value="Butterfly"/>Butterfly</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Flat"/>Flat</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Hipped"/>Hipped</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Complex"/>Complex</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Curved"/>Curved</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Gabled"/>Gabled</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Mansard"/>Mansard</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Unsure"/>Unsure</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Dormers"/>Dormers</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Gambrel"/>Gambrel</div>
                <div><input class="mr-1" type="radio" name="Q2" value="Single_Pitch"/>Single Pitch</div>
              </div>
              <br>

              <!-- Q3 -->
              <p class="text-center"><strong>Q3: What is the roofing material? (Select all that apply) </strong></p>
              <div class="survey" id="Q3">
                <input type="checkbox" name="Q3" value="Asphalt_Shingle" /> Asphalt Shingle<br/>
                <input type="checkbox" name="Q3" value="Green_Roof" /> Green Roof <br/>
                <input type="checkbox" name="Q3" value="Tar"  /> Tar<br/>
                <input type="checkbox" name="Q3" value="Wood_Shake"  /> Wood Shake<br/>
                <input type="checkbox" name="Q3" value="Concrete"  /> Concrete<br/>
                <input type="checkbox" name="Q3" value="Metal"  /> Metal<br/>
                <input type="checkbox" name="Q3" value="Tile" /> Tile<br/>
                <input type="checkbox" name="Q3" value="Unsure"  /> Unsure<br/>
                <input type="checkbox" name="Q3" value="Gravel" /> Gravel<br/>
                <input type="checkbox" name="Q3" value="Slate"  /> Slate<br/>
              </div>
              <br>

              <div class="text-center">
                <p></p>
                  <h5>
                    <strong>Section 2: Building function (Mandatory)</strong>
                  </h5>
              </div>
              <hr />

              <!-- subquestions of corresponding questions script -->
              <!--style sheet section 2-->

              <!-- Q4 -->
              <div class= "pl-5" id="Q4">
              <p class="text-center"><strong>Q4: What is the building use?</strong></p>
                <input type="radio" name="Q4" value="SF1" /> Single-family detached<br/>
                <input type="radio" name="Q4" value="SD1"  /> Semi-detached (Duplex) <br/>
                <input type="radio" name="Q4" value="MU1"  /> Multi-Residential building<br/>
                <!-- subquestion Q4.1 -->
                  <div id="MU1" class="pl-5 desc">
                    <input type="radio" name="Q4_1" value="MU2"> Rowhouse (>3 dwellings) <br/>
                    <input type="radio" name="Q4_1" value="MU3"> Large multi-family: MURB (apartments/flats/condos) <br/>
                  </div>

                <input type="radio" name="Q4" value="PU1" /> Publicly owned, intended for community or collective use <br>(Community centre, recreation centre, sports facility, cultural centre, municipal depot, etc.)<br/>
                <!-- subquestion Q4.2 -->
                  <div id="PU1" class="pl-5 desc">
                    <input type="radio" name="Q4_2" value="PU4"> Community center<br/>
                    <input type="radio" name="Q4_2" value="PU3"> Hockey arena<br/>
                    <input type="radio" name="Q4_2" value="PU5"> Library<br/>
                    <input type="radio" name="Q4_2" value="PU2"> Sports/Recreation center (Various)<br/>
                    <input type="radio" name="Q4_2" value="PU6"> Unsure<br/>
                  </div>

                <input type="radio" name="Q4" value="SC1"  /> Schools<br/>
                <input type="radio" name="Q4" value="OT1"  /> Other<br/>
              </div>


              <div class="btn-row">
                  <input style="display:none;" id="submit_Q4" class="btn btn-vote mr-5" type="submit" value="Submit">
              </div>

              <!-- Q4 folding script-->

              <div id="submit_Q4_1">
              <div class="text-center">
                <p></p>
                  <h5>
                    <strong>Section 3: Age and Condition</strong>
                  </h5>
              </div>
              <hr />

              <!-- Q5 -->
              <div class= "pl-5" id="Q5">
              <p class="text-center"><strong>Q5: Was this building built before 2000? </strong></p>
                <input type="radio" name="Q5" value="NO1" /> No<br/>
                <input type="radio" name="Q5" value="YE1"  /> Yes OR Unsure<br/>
                <br>
                <!-- subquestion -->
                <div id = "YE1" class="pl-5 desc2">
                  <!-- subquestion Q5.1-->
                  <p><strong>What condition does the building appear to be in?</strong></p>
                  <input type="radio" name="Q5_1" value="YE2"> Great condition (shallow retrofit)<br/>
                  <input type="radio" name="Q5_1" value="YE3"> Medium condition (medium retrofit)<br/>
                  <input type="radio" name="Q5_1" value="YE4"> Poor condition (deep retrofit) <br/>
                  <br>
                  <!-- subquestion Q5.2-->
                  <div class = "another">
                    <p><strong>Does this building look recently renovated? </strong></p>
                    <input type="radio" name="Q5_2" value="YE5"> Yes <br/>
                    <input type="radio" name="Q5_2" value="YE6"> No or Unsure <br/><br>
                  </div>
                </div>

                <div class="btn-row">
                  <input style="display:none;" id="submit_Q5" class="btn btn-vote mr-5" type="submit" value="Submit">
                </div>
                <!-- Q5 folding script-->
            </div>

            <div id = "submit_Q5_1">
            <div class="text-center">
              <p></p>
                <h5>
                  <strong>Section 4: Mecahnicals and Geometry</strong>
                </h5>
            </div>
            <hr />

            <!-- Q6 -->
            <p class="text-center"><strong>Q6: What is the building footprint? </strong></p>
            <div class= "pl-5" id="Q6">
              <input type="radio" name="Q6" value="Insignificant" /> Less than 300m2<br/>
              <input type="radio" name="Q6" value="Small"  /> 300m2 to 600m2<br/>
              <input type="radio" name="Q6" value="Medium" /> 600m2 to 2000m2<br/>
              <input type="radio" name="Q6" value="Large"  /> More than 2000m2<br/>
            </div>
            <br>

            <div class="btn-row">
              <input style="display:none;" id="submit_Q6" class="btn btn-vote mr-5" type="submit" value="Submit">
            </div>

                <!-- Q6 folding script-->
            <div id = "submit_Q6_1">

            <!-- Q7 -->
            <p class="text-center"><strong>Q7: How many storeys does the building have? </strong></p>
            <div class= "pl-5" id="Q7">
              <input type="radio" name="Q7" value="AC1" /> CUBF data is accurate<br/>
              <input type="radio" name="Q7" value="NC1"  /> CUBF data is innacurate (manual entry)<br/>
              <!-- subquestion -->
              <div id="NC1" class="pl-5 desc5">
                <input type="radio" name="Q7_1" value="NC2"> 1 <br/>
                <input type="radio" name="Q7_1" value="NC3"> 2 <br/>
                <input type="radio" name="Q7_1" value="NC4"> 3+<br/>
              </div>
            </div>
            <br>

            <!-- Q8 -->
            <p class="text-center"><strong>Q8: Does the building have a rectangular footprint?</strong></p>
            <div class="horizontal" id="Q8">
              <span style="margin-right: 200px;"><input type="radio" name="Q8" value="Yes" /> Yes</span><br>
              <input type="radio" name="Q8" value="No"  /> No<br>
            </div>
            <br>

            <!-- Q9 -->
            <p class="text-center"><strong>Q9: Are there significant overhangs?</strong></p>
            <div class="horizontal" id="Q9">
              <span style="margin-right: 200px;"><input type="radio" name="Q9" value="Yes" /> Yes</span><br>
              <input type="radio" name="Q9" value="No"  />&nbsp;No<br>
            </div>
            <br>

            <!-- Q10 -->
            <p class="text-center"><strong>Q10: Are there many balconies?</strong></p>
            <div class="horizontal" id="Q10">
              <span style="margin-right: 200px;"><input type="radio" name="Q10" value="Yes" /> Yes</span><br>
              <input type="radio" name="Q10" value="No"  />&nbsp;No<br>
            </div>
            <br>

            <!-- Q11 -->
            <p class="text-center"><strong>Q11: Are there large, glazed openings or irregular windows and doors?</strong></p>
            <div class="horizontal" id="Q11">
              <span style="margin-right: 200px;"><input type="radio" name="Q11" value="Yes" /> Yes</span><br>
              <input type="radio" name="Q11" value="No"  />&nbsp;No<br>
            </div>
            <br>

            <!-- Q12 -->
            <p class="text-center"><strong>Q12: Is there significant mechanical equipment on the roof?</strong></p>
            <div class="horizontal" id="Q12">
              <span style="white-space: nowrap; margin-right: 200px;"><input type="radio" name="Q12" value="Yes" /> Yes</span><br>
              <span style="white-space: nowrap; margin-right: 200px;"><input type="radio" name="Q12" value="No" />&nbsp;No</span><br>
              <input type="radio" name="Q12" value="Unsure"  />&nbsp;Unsure<br>
            </div>
            <br>

            <!-- Q13 -->
            <p class="text-center"><strong>Q13: How simple is the form factor of the building?
              <br> (A simple form factor includes a elements such as a rectangular footprint,
              <br> a lack of balconies, small or insignificant overhangs or eaves, standard windows
              <br> and doors, a small window to wall ratio, a simple roof geometry, etc.) </strong></p>
            <div class= "pl-5" id="Q13">
              <span style="margin-right: 200px;"><input type="radio" name="Q13" value="1" /> 1 (Very simple form factor) </span><br>
              <span style="margin-right: 200px;"><input type="radio" name="Q13" value="2" /> 2 (Some irregularities)</span><br>
              <input type="radio" name="Q13" value="3"  /> 3 (Complex form factor)<br>
            </div>

            <div class="btn-row">
              <input style="display:none;" id="submit_Q13" class="btn btn-vote mr-5" type="submit" value="Submit">
            </div>

            <!-- Q13 folding script-->

            <div id = "submit_Q13_1" >
            <div class="text-center">
              <p></p>
                <h5>
                  <strong>Section 5: Construction</strong>
                </h5>
            </div>
            <hr />

            <!-- Q14 -->
            <div class= "pl-5" id="Q14">
            <p class="text-center"><strong>Q14: What is the structure of the building?</strong></p>
              <input type="radio" name="Q14" value="IS1"  /> In situ concrete<br/>
              <input type="radio" name="Q14" value="LW1"  /> Light wood frame <br/>
              <input type="radio" name="Q14" value="LB1" /> Load bearing masonry<br/>
              <input type="radio" name="Q14" value="MT1"  /> Mass timber frame <br/>
              <input type="radio" name="Q14" value="MS1"  /> Metal structure <br/>
              <!-- subquestion -->
                <div id="MS1" class="pl-5 desc3">
                  <p class="text-center"><br><strong>What Type of metal structure does the building have?</strong></p>
                  <input type="radio" name="Q14_1" value="MS2"> Long-Span Framing with trusses <br/>
                  <input type="radio" name="Q14_1" value="MS3"> Long-Span Framing with girders <br/>
                  <input type="radio" name="Q14_1" value="MS4"> Multi-story skeleton framing<br/>
                  <input type="radio" name="Q14_1" value="MS5"> Unsure<br/><br>
                </div>
              <input type="radio" name="Q14" value="UN1"  /> Unsure<br/>
            </div>

            <br>

            <!-- Q15 -->
            <!-- span to ban further flowing to the right when dragging the drag bar-->

            <p class="text-center"><strong>Q15: What type of foundation does the building appear to have?</strong></p>
            <div class="survey" id="Q15">
              <span style="white-space: nowrap;"><input type="radio" name="Q15" value="Basement_foundation" /> Basement foundation </span><br>
              <span style="white-space: nowrap;"><input type="radio" name="Q15" value="Slab-on-grade_foundation"  /> Slab-on-grade foundation</span><br>
              <span style="white-space: nowrap;"><input type="radio" name="Q15" value="Pier_foundation" /> Pier foundation</span><br>
              <span style="white-space: nowrap;"><input type="radio" name="Q15" value="Unsure" /> Unsure</span><br>
            </div>
            <br>

            <br>
            <div class="text-center">
              <p></p>
                <h5>
                  <strong>Section 6: Site Context</strong>
                </h5>
            </div>
            <hr />

            <!-- Q16 -->
            <p class="text-center"><strong>Q16: Is the building free-standing?</strong></p>
            <div class="horizontal" id="Q16">
              <span style=" margin-right: 200px;"><input type="radio" name="Q16" value="Yes" /> Yes</span><br>
              <input type="radio" name="Q16" value="No" />&nbsp;No<br>
            </div>
            <br>

            <!-- Q17 -->
            <p class="text-center"><strong>Q17: Does the building border a parking lot?</strong></p>
            <div class="horizontal" id="Q17">
              <span style="margin-right: 200px;"><input type="radio" name="Q17" value="Yes" /> Yes</span><br>
              <input type="radio" name="Q17" value="No" />&nbsp;No<br>
            </div>
            <br>

            <!-- Q18 -->
            <div class= "pl-5" id="Q18">
            <p class="text-center"><strong>Q18: Are there obstructions close to the building? (<10m)</strong></p>
              <input type="radio" name="Q18" value="N_1" /> No obstruction<br/>
              <input type="radio" name="Q18" value="YS1"  /> Yes<br/>
                <div id = "YS1" class="desc4">
                  <p class ="text-center"><strong>Obstructions near the building (Select all that apply)?</strong></p>
                  <div class = "survey">
                    <input type="checkbox" name="Q18_1" value="YS4"> Electrical wires <br/>
                    <input type="checkbox" name="Q18_1" value="YS3"> Other buildings<br/>
                    <input type="checkbox" name="Q18_1" value="YS2"> Important trees<br/>
                    <input type="checkbox" name="Q18_1" value="YS4"> Other objects <br/>
                    <input type="checkbox" name="Q18_1" value="YS4"> Utility poles <br/>
                  </div>
                  <br>
                </div>
            </div>

            <!--submit the button and close the form -->
            <div class="btn-row">
                <input id="btn-submit-vote" class="btn btn-vote mr-5" type="submit" value="Submit">
            </div>

            <br>

          </div>
          </div>
          </div>
          </div>
          </form>

        </div>
      </div>

        <!-- This is the satellite map -->
        <div class="tab-pane show active" id="nav-satellite" role="tabpanel" aria-labelledby="nav-satellite-tab"></div>
      </div>

      <div class="map-container">
        <div id="satmap"></div>
      </div>

    </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=geometry&callback=initMaps&v=weekly" defer></script>
</section>

{% endblock content %}
