{% block navbar %}
{% with current_url=request.resolver_match.url_name %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel">
    <div class="container-fluid">
        <a class="navbar-brand me-3 ms-md-5" href="{% url 'buildings:index' %}">
            <img class='brand-logo' alt='BIT tool logo' src="{% static 'images/logo.png' %}" />
            <span class="brand-text">Building Identification Tool</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#responsiveNavbar" aria-controls="responsiveNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="responsiveNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link {% if current_url == 'survey_v1' %}active{% endif %}" href="{% url 'buildings:survey' %}">Survey</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link {% if current_url == 'all_buildings' %}active{% endif %}" href="#">All Buildings</a>
                </li> -->
            </ul>
            {% if user.is_authenticated %}
            <div class="dropdown nav-item">
                <a class="nav-link dropdown-toggle d-flex align-items-center me-md-5 pb-2 pb-md-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="profile-pic-icon" src="{{ user.get_avatar_url }}">    
                    <span class="ms-2 me-1">{{ user.username }}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
                    <li><a class="dropdown-item" href="{% url 'buildings:logout' %}">Logout</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
{% endwith %}
{% endblock navbar %}
