{% block navbar %}
  {% with current_url=request.resolver_match.url_name %}

    {#    <nav id="navbar" class="flex z-40 absolute justify-center py-0 px-5 lg:px-8 bg-transparent w-full">#}
    {#      <div class="flex grow items-center justify-between max-w-7xl 2xl:max-w-screen-2xl">#}
    {##}
    {#        <div class="flex lg:flex-1 lg:mr-5">#}
    {#          <a href="{% url 'buildings:index' %}" class="group flex items-center -m1.5 p-1.5">#}
    {#            <h1 class="relative flex items-center text-3xl font-bold text-gray-900  group-hover:text-teal-700">#}
    {#              Retrofit#}
    {#              <span class="ml-1 rounded-xl bg-gray-900 group-hover:bg-teal-700 px-2 py-1 leading-none">#}
    {#            <span class="flex items-center text-white">#}
    {#              Recon#}
    {#              <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"#}
    {#                fill="white">#}
    {#                <title>retrofitrecon-logo</title>#}
    {#                <path#}
    {#                  d="M19.31 18.9C19.75 18.21 20 17.38 20 16.5C20 14 18 12 15.5 12S11 14 11 16.5 13 21 15.5 21C16.37 21 17.19 20.75 17.88 20.32L21 23.39L22.39 22L19.31 18.9M15.5 19C14.12 19 13 17.88 13 16.5S14.12 14 15.5 14 18 15.12 18 16.5 16.88 19 15.5 19M5 20V12H2L12 3L22 12H20.18C19 10.77 17.34 10 15.5 10C11.92 10 9 12.92 9 16.5C9 17.79 9.38 19 10.03 20H5Z"></path>#}
    {#              </svg>#}
    {#            </span>#}
    {#          </span>#}
    {#            </h1>#}
    {#          </a>#}
    {#        </div>#}
    {#        #}
    {# Hamburger Icon#}
    {#        <div class="flex mr-2 lg:hidden">#}
    {#          <button id="menu-button" type="button"#}
    {#            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">#}
    {#            <span class="sr-only">Open main menu</span>#}
    {#            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"#}
    {#              aria-hidden="true">#}
    {#              <path stroke-linecap="round" stroke-linejoin="round"#}
    {#                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>#}
    {#            </svg>#}
    {#          </button>#}
    {#        </div>#}
    {##}
    {#        <button id="navbar-hamburger" data-collapse-toggle="navbar-dropdown" type="button"#}
    {#          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"#}
    {#          aria-controls="navbar-dropdown" aria-expanded="false">#}
    {#          <span class="sr-only">Open main menu</span>#}
    {#          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">#}
    {#            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
    {#              d="M1 1h15M1 7h15M1 13h15"></path>#}
    {#          </svg>#}
    {#        </button>#}
    {##}
    {#        <div class="hidden w-full md:w-auto md:block md:justify-between" id="navbar-dropdown">#}
    {##}
    {#          <div class="hidden grow justify-center lg:flex lg:gap-x-28">#}
    {#            <a class="text-sm font-semibold leading-6 text-gray-900 hover:text-teal-700"#}
    {#              href="{% url 'buildings:survey' %}">Survey</a>#}
    {#            <a class="text-sm font-semibold leading-6 text-gray-900 hover:text-teal-700" href="#">Explore</a>#}
    {#            <a class="text-sm font-semibold leading-6 text-gray-900 hover:text-teal-700" href="#">About</a>#}
    {#          </div>#}
    {##}
    {#          {% if user.is_authenticated %}#}
    {#            <div class="dropdown nav-item hidden mr-2 lg:flex lg:flex-1 lg:justify-end">#}
    {#              <button id="user-dropdown-button" data-dropdown-toggle="user-dropdown-items"#}
    {#                class="flex items-center justify-between font-semibold leading-6 w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 hover:text-teal-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">#}
    {#                <img class="profile-pic-icon" src="{{ user.get_avatar_url }}" alt="User avatar">#}
    {#                <span class="ms-2 me-1">{{ user.username }}</span>#}
    {#                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"#}
    {#                  viewBox="0 0 10 6">#}
    {#                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
    {#                    d="m1 1 4 4 4-4"></path>#}
    {#                </svg>#}
    {#              </button>#}
    {#              <!-- Dropdown menu -->#}
    {#              <div id="user-dropdown-items"#}
    {#                class="z-10 hidden leading-6 bg-white divide-y divide-gray-100 rounded-md shadow w-44">#}
    {#                <ul class="py-1">#}
    {#                  <li><a class="block px-4 py-2 hover:bg-gray-100 hover:text-teal-700 "#}
    {#                    href="{% url "buildings:profile" %}">Profile</a></li>#}
    {#                </ul>#}
    {#                <div class="py-1">#}
    {#                  <a class="block px-4 py-2 hover:bg-gray-100 hover:text-teal-700" href="{% url 'account_logout' %}">Sign#}
    {#                    out</a>#}
    {#                </div>#}
    {#              </div>#}
    {#            </div>#}
    {#          {% else %}#}
    {#            <div class="hidden lg:flex lg:flex-1 lg:justify-end">#}
    {#              <a href="{% url 'account_login' %}"#}
    {#                class="text-sm leading-6 text-gray-900 hover:text-teal-700 font-semibold">Sign in<span#}
    {#                aria-hidden="true">&nbsp;&rarr;</span></a>#}
    {#            </div>#}
    {#          {% endif %}#}
    {#        </div>#}
    {#      </div>#}
    {#    </nav>#}




    <nav class="absolute z-40 w-full py-0 px-5 lg:px-8 bg-transparent border-gray-200 dark:bg-gray-900">
      <div class="max-w-7xl 2xl:max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto">

        {# Retrofit Recon Logo #}
        <div id="logo" class="flex">
          <a href="{% url 'buildings:index' %}" class="-m1.5 p-1.5">
            <h1 class="relative flex items-center text-3xl font-bold text-gray-900  group-hover:text-teal-700">
              Retrofit
              <span class="ml-1 rounded-xl bg-gray-900 group-hover:bg-teal-700 px-2 py-1 leading-none">
                <span class="flex items-center text-white">
                  Recon
                  <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"
                    fill="white">
                    <title>retrofitrecon-logo</title>
                    <path
                      d="M19.31 18.9C19.75 18.21 20 17.38 20 16.5C20 14 18 12 15.5 12S11 14 11 16.5 13 21 15.5 21C16.37 21 17.19 20.75 17.88 20.32L21 23.39L22.39 22L19.31 18.9M15.5 19C14.12 19 13 17.88 13 16.5S14.12 14 15.5 14 18 15.12 18 16.5 16.88 19 15.5 19M5 20V12H2L12 3L22 12H20.18C19 10.77 17.34 10 15.5 10C11.92 10 9 12.92 9 16.5C9 17.79 9.38 19 10.03 20H5Z"></path>
                  </svg>
                </span>
              </span>
            </h1>
          </a>
        </div>


        <div class="flex items-center md:order-2 space-x-3 md:space-x-0">

          {% if user.is_authenticated %}
            {# User menu #}
            <button id="user-menu-button" type="button"
              class="flex text-sm bg-gray-800 rounded-full md:ms-10 md:me-0 focus:ring-4 focus:ring-teal-500 dark:focus:ring-gray-600"
              aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="{{ user.get_avatar_url }}" alt="user photo">
            </button>
            <!-- Dropdown menu -->
            <div id="user-dropdown"
              class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
              <div class="px-4 py-3">
                <span class="block text-gray-900 dark:text-white">{{ user.username }}</span>
                <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a href="{% url "buildings:profile" %}"
                    class="block px-4 py-2 text-gray-700 hover:bg-teal-600 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
                </li>
                <li>
                  <a href="{% url 'account_logout' %}"
                    class="block px-4 py-2 text-gray-700 hover:bg-teal-600 hover:text-white dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                    out</a>
                </li>
              </ul>
            </div>
          {% else %}
            <button
              class="md:me-4 bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600 flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              <a href="{% url 'account_login' %}">Sign in<span aria-hidden="true">&nbsp;&rarr;</span></a>
            </button>
          {% endif %}

          <button data-collapse-toggle="navbar-user" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-user" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"></path>
            </svg>
          </button>
        </div>

        <div id="navbar-user"
          class="items-center hidden w-full md:flex md:w-auto md:order-1 md:mr-12">
          <div
            class="flex flex-col text-sm font-semibold p-3 md:p-0 mt-2 border border-gray-100 rounded-lg bg-gray-50 md:gap-x-24 xl:gap-x-32 md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <a href="{% url 'buildings:survey' %}"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-teal-600 hover:text-white md:hover:bg-transparent md:hover:text-teal-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Survey</a>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-teal-600 hover:text-white md:hover:bg-transparent md:hover:text-teal-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Explore</a>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-teal-600 hover:text-white md:hover:bg-transparent md:hover:text-teal-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
          </div>
        </divv>
      </div>
    </nav>




    {#    <nav class="bg-transparent border-gray-200">#}
    {#      <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4 ">#}
    {##}
    {##}
    {#            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">#}
    {#              <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo"/>#}
    {#              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>#}
    {#            </a>#}
    {##}
    {#        <div class="flex lg:flex-1 lg:mr-5">#}
    {#          <a href="{% url 'buildings:index' %}" class="group flex items-center -m1.5 p-1.5">#}
    {#            <h1 class="relative flex items-center text-3xl font-bold text-gray-900  group-hover:text-teal-700">#}
    {#              Retrofit#}
    {#              <span class="ml-1 rounded-xl bg-gray-900 group-hover:bg-teal-700 px-2 py-1 leading-none">#}
    {#            <span class="flex items-center text-white">#}
    {#              Recon#}
    {#              <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"#}
    {#                fill="white">#}
    {#                <title>retrofitrecon-logo</title>#}
    {#                <path#}
    {#                  d="M19.31 18.9C19.75 18.21 20 17.38 20 16.5C20 14 18 12 15.5 12S11 14 11 16.5 13 21 15.5 21C16.37 21 17.19 20.75 17.88 20.32L21 23.39L22.39 22L19.31 18.9M15.5 19C14.12 19 13 17.88 13 16.5S14.12 14 15.5 14 18 15.12 18 16.5 16.88 19 15.5 19M5 20V12H2L12 3L22 12H20.18C19 10.77 17.34 10 15.5 10C11.92 10 9 12.92 9 16.5C9 17.79 9.38 19 10.03 20H5Z"></path>#}
    {#              </svg>#}
    {#            </span>#}
    {#          </span>#}
    {#            </h1>#}
    {#          </a>#}
    {#        </div>#}
    {##}
    {##}
    {#        <button data-collapse-toggle="navbar-dropdown" type="button"#}
    {#          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"#}
    {#          aria-controls="navbar-dropdown" aria-expanded="false">#}
    {#          <span class="sr-only">Open main menu</span>#}
    {#          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">#}
    {#            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
    {#              d="M1 1h15M1 7h15M1 13h15"></path>#}
    {#          </svg>#}
    {#        </button>#}
    {##}
    {#        <div class="hidden w-full md:flex md:w-auto md:grow" id="navbar-dropdown">#}
    {##}
    {#          <div class="flex flex-col font-medium p-4 md:p-0 mt-4 bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:items-center md:justify-between md:mt-0 md:border-0">#}
    {##}
    {##}
    {#            <div id="nav-middle-section" class="grow items-center lg:flex lg:gap-x-28">#}
    {#              <a href="#"#}
    {#                class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"#}
    {#                aria-current="page">Survey</a>#}
    {#              <a href="#"#}
    {#                class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0t">Explore</a>#}
    {#              <a href="#"#}
    {#                class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">About</a>#}
    {##}
    {#            </div>#}
    {##}
    {#            {% if user.is_authenticated %}#}
    {#              <div id="nav-right-section" class="mr-2 md:flex md:flex-1 md:justify-end">#}
    {##}
    {#                <button id="user-dropdown-button" data-dropdown-toggle="user-dropdown-items"#}
    {#                  class="flex items-center justify-between font-semibold leading-6 w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 hover:text-teal-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto">#}
    {#                  <img class="profile-pic-icon" src="{{ user.get_avatar_url }}" alt="User avatar">#}
    {#                  <span class="ms-2 me-1">{{ user.username }}</span>#}
    {#                  <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"#}
    {#                    viewBox="0 0 10 6">#}
    {#                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
    {#                      d="m1 1 4 4 4-4"></path>#}
    {#                  </svg>#}
    {#                </button>#}
    {#                <!-- Dropdown menu -->#}
    {#                <div id="user-dropdown-items"#}
    {#                  class="z-10 hidden leading-6 bg-white divide-y divide-gray-100 rounded-md shadow w-44">#}
    {#                  <ul class="py-1">#}
    {#                    <li><a class="block px-4 py-2 hover:bg-gray-100 hover:text-teal-700 "#}
    {#                      href="{% url "buildings:profile" %}">Profile</a></li>#}
    {#                  </ul>#}
    {#                  <div class="py-1">#}
    {#                    <a class="block px-4 py-2 hover:bg-gray-100 hover:text-teal-700"#}
    {#                      href="{% url 'account_logout' %}">Sign#}
    {#                      out</a>#}
    {#                  </div>#}
    {#                </div>#}
    {#              </div>#}
    {#            {% else %}#}
    {#              <div class="hidden lg:flex lg:flex-1 lg:justify-end">#}
    {#                <a href="{% url 'account_login' %}"#}
    {#                  class="text-sm leading-6 text-gray-900 hover:text-teal-700 font-semibold">Sign in<span#}
    {#                  aria-hidden="true">&nbsp;&rarr;</span></a>#}
    {#              </div>#}
    {#            {% endif %}#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#    </nav>#}
    {##}


  {% endwith %}
{% endblock navbar %}