{% block navbar %}
{% with current_url=request.resolver_match.url_name %}

<nav id="navbar" class="flex z-40 absolute justify-center py-0 px-5 lg:px-8 bg-transparent w-full">
  <div class="flex grow items-center justify-between max-w-7xl 2xl:max-w-screen-2xl">

    <div class="flex lg:flex-1 lg:mr-5">
      <a href="{% url 'buildings:index' %}" class="group flex items-center -m1.5 p-1.5">
        <h1 class="relative flex items-center text-3xl font-bold text-gray-900  group-hover:text-teal-700">
          Retrofit
          <span class="ml-1 rounded-xl bg-gray-900 group-hover:bg-teal-700 px-2 py-1 leading-none">
            <span class="flex items-center text-white">
              Recon
              <!-- <img class='brand-logo mx-auto h-10 w-auto' alt='BIT tool logo' src="{% static 'images/logo.png' %}" /> -->
              <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"
                fill="white">
                <title>home-search-icon</title>
                <path
                  d="M19.31 18.9C19.75 18.21 20 17.38 20 16.5C20 14 18 12 15.5 12S11 14 11 16.5 13 21 15.5 21C16.37 21 17.19 20.75 17.88 20.32L21 23.39L22.39 22L19.31 18.9M15.5 19C14.12 19 13 17.88 13 16.5S14.12 14 15.5 14 18 15.12 18 16.5 16.88 19 15.5 19M5 20V12H2L12 3L22 12H20.18C19 10.77 17.34 10 15.5 10C11.92 10 9 12.92 9 16.5C9 17.79 9.38 19 10.03 20H5Z" />
              </svg>
            </span>
          </span>
        </h1>
      </a>
    </div>
    <div class="flex mr-2 lg:hidden">
      <button id="menu-button" type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden grow justify-center lg:flex lg:gap-x-28">
      <a class="text-sm font-semibold leading-6 text-gray-900 hover:text-teal-700" href="{% url 'buildings:survey' %}">Survey</a>
      <a class="text-sm font-semibold leading-6 text-gray-900 hover:text-teal-700" href="#">Explore</a>
      <a class="text-sm font-semibold leading-6 text-gray-900 hover:text-teal-700" href="#">About</a>
    </div>

    {% if user.is_authenticated %}
    <div class="dropdown nav-item hidden mr-2 lg:flex lg:flex-1 lg:justify-end">
      <a class="flex items-center leading-6 text-gray-900 hover:text-teal-700 font-semibold" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img class="profile-pic-icon" src="{{ user.get_avatar_url }}">
        <span class="ms-2 me-1">{{ user.username }}</span>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
      </ul>
    </div>
    {% else %}
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="{% url 'account_login' %}" class="text-sm leading-6 text-gray-900 hover:text-teal-700 font-semibold">Sign in<span
          aria-hidden="true">&nbsp;&rarr;</span></a>
    </div>
    {% endif %}
  </div>

</nav>


{% endwith %}
{% endblock navbar %}