{% extends "buildings/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'buildings/query-builder.default.css' %}" />
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css" />
{% endblock %}


{% block content %}
<div class="max-w-[75%] mx-auto py-16 sm:py-48">
  <div class="flex flex-column bg-white bg-opacity-50 py-3 px-5 rounded-md text-md">

    <h1 class="text-4xl font-semibold py-2">
      Creating survey on Dataset {{ dataset.name }}
    </h1>

    <div class="w-1/2 py-2">
      <hr>
    </div>

    <div>
      <input type="text" placeholder="Survey name">
    </div>

    <section id="data-filter">

      <div class="text-2xl">Dataset filter</div>
      <p>Filter the input dataset buildings to survey</p>

      <div class="block w-2/3 py-2">
        <div id="query-builder-dataset" class="col-start-2 col-span-6">
        </div>
      </div>
    </section>

    <section id="surveys-filter">

      <div class="text-2xl">Surveys filter</div>
      <p>Filter the input to your survey on previous survey results. Your survey's target population will be updated as
        the upstream surveys get new responses.</p>
      <div class="block w-2/3 py-2">
        <div id="query-builder-surveys" class="col-start-2 col-span-6">
        </div>
      </div>
    </section>

    <section id="survey-questions">
      <div class="text-2xl">Surveys filter</div>
      <p>Add questions to your survey</p>
      <div>
        TODO
      </div>
    </section>
    <div class="block w-[75px]">
      {% element button id="submitQueryButton" type="button" %}
      {% trans "Submit" %}
      {% endelement %}
    </div>

  </div>
</div>
{% endblock %}


{% block page_scripts %}
{{ dataset_filters | json_script:"dataset_filters" }}
{{ survey_filters | json_script:"survey_filters" }}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<script src="{% static 'scripts/query-builder.standalone.js' %}"></script>
<script defer>

  document.addEventListener("DOMContentLoaded", () => {
    const dataset_filters = JSON.parse(
      document.getElementById("dataset_filters").textContent
    );
    const survey_filters = JSON.parse(
      document.getElementById("survey_filters").textContent
    );

    console.log(survey_filters)
    const datasetQueryBuilderId = "#query-builder-dataset"
    const surveyQueryBuilderId = "#query-builder-surveys"


    // Fix for Bootstrap Datepicker
    $(datasetQueryBuilderId).on(
      "afterUpdateRuleValue.queryBuilder",
      function (e, rule) {
        if (rule.filter.plugin === "datepicker") {
          rule.$el.find(".rule-value-container input").datepicker("update");
        }
      }
    );

    $(datasetQueryBuilderId).queryBuilder({
      optgroups: {
        core: {
          en: "Core",
        },
        attributes: {
          en: "Attributes",
        },
      },
      operators: [
        "equal",
        "not_equal",
        "less",
        "less_or_equal",
        "greater",
        "greater_or_equal",
        "between",
        "not_between",
        "begins_with",
        "not_begins_with",
        "contains",
        "not_contains",
        "ends_with",
        "not_ends_with",
        "is_null",
        "is_not_null",
        "in",
        "not_in",

      ],
      filters: dataset_filters,
      rules: {
        condition: "AND",
        rules: [
          {
            id: "const_year",
            field: "const_year",
            type: "date",
            input: "text",
            operator: "between",
            value: [1950, 2000],
          }
        ],
      },
      valid: true,
    });

    const survey_filters_fake = [
      {
        "id": "s_5_exterior_cladding",
        "field": "s_5_exterior_cladding",
        "label": "Exterior Cladding",
        "optgroup": "Recon Survey V2: Montreal HLMs with brick facade",
        "type": "string",
        "input": "checkbox",
        "values": [
          "wood",
          "metal",
          "vinyl",
          "unsure",
          "plaster",
          "concrete",
          "curtain_wall",
          "brick_masonry",
          "stone_masonry"
        ],
        "operators": [
          "in",
          "not_in",
          "is_null",
          "is_not_null"
        ]
      },
      {
        "id": "s_5_exterior_cladding_search",
        "field": "s_5_exterior_cladding",
        "label": "Exterior Cladding (Search)",
        "optgroup": "Recon Survey V2: Montreal HLMs with brick facade",
        "type": "string",
        "input": "text",
        "operators": [
          "contains",
          "not_contains",
          "ends_with",
          "begins_with",
          "not_ends_with",
          "not_begins_with"
        ]
      },
      {
        "id": "s_5_has_basement",
        "field": "s_5_has_basement",
        "label": "Has Basement",
        "optgroup": "Recon Survey V2: Montreal HLMs with brick facade",
        "type": "boolean",
        "input": "radio",
        "values": [
          "true",
          "false"
        ],
        "operators": [
          "in",
          "is_null",
          "is_not_null"
        ]
      },
      {
        "id": "s_6_num_storeys",
        "field": "s_6_num_storeys",
        "label": "Num. Storeys",
        "optgroup": "Recon Survey V1",
        "type": "integer",
        "input": "number",
        "operators": [
          "equal",
          "not_equal",
          "less",
          "greater",
          "less_or_equal",
          "greater_or_equal",
          "between",
          "not_between",
          "is_null",
          "is_not_null"
        ]
      }
    ]

    $(surveyQueryBuilderId).queryBuilder({
      optgroups: survey_filters['optgroups'],
      operators: [
        "equal",
        "not_equal",
        "less",
        "less_or_equal",
        "greater",
        "greater_or_equal",
        "between",
        "not_between",
        "begins_with",
        "not_begins_with",
        "contains",
        "not_contains",
        "ends_with",
        "not_ends_with",
        "is_null",
        "is_not_null",
        "in",
        "not_in",
      ],
      filters: survey_filters_fake,
      // filters: survey_filters['filters'],
      rules: {
        condition: "AND",
        rules: [
          {
            id: "s_5_exterior_cladding",
            field: "s_5_exterior_cladding",
            input: "text",
            type: "checkbox",
            operator: "in",
            value: ["brick_masonry", "wood"],
          },
          {
            id: "s_5_has_basement",
            field: "s_5_has_basement",
            type: "boolean",
            input: "checkbox",
            operator: "is_null"
          },
          {
            id: "s_6_num_storeys",
            field: "s_6_num_storeys",
            type: "integer",
            input: "number",
            operator: "between",
            value: [5, 8]
          }
        ],
      },
    });

    document
      .getElementById("submitQueryButton")
      .addEventListener("click", (e) => {
        e.preventDefault();

        const datasetRules = $(datasetQueryBuilderId).queryBuilder("getRules", {
          get_flags: true,
        });
        const surveyRules = $(surveyQueryBuilderId).queryBuilder("getRules", {
          get_flags: true,
        });

        if (datasetRules === null && surveyRules === null) return;

        console.log(datasetRules);
        console.log(surveyRules);

        // Upload new satellite image
        fetch("", {
          method: "POST",
          mode: "same-origin",
          cache: "no-cache",
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"), // So django accepts the request
          },
          body: JSON.stringify({ dataset_query: datasetRules, surveys_query: surveyRules }),
        }).then((resp) => {
          if (resp.status === 200) {
            console.debug("Query uploaded");
          } else {
            console.debug(`ERROR running query ${resp}`);
          }
        });
      });
  });
</script>
{% endblock %}