{% extends "buildings/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block css_imports %}

{% endblock %}


{% block content %}
<div class="max-w-[75%] mx-auto py-16 sm:py-48">
  <div class="flex flex-column bg-white bg-opacity-50 py-3 px-5 rounded-md text-md">

    <h1 class="text-4xl font-semibold py-2">
      Creating survey on Dataset {{ dataset.name }}
    </h1>

    <div class="w-1/2 py-2">
      <hr>
    </div>

    <div>
      <label for="survey_name" class="block text text-xl">
        Survey name
        <input type="text" placeholder="Survey name">
      </label>
    </div>

    <section id="survey-questions">
      <div class="text-2xl">Surveys filter</div>
      <p>Add questions to your survey</p>
      <div>
        TODO
      </div>
    </section>
    <div class="block w-[75px]">
      {% element button id="submitQueryButton" type="button" %}
      {% trans "Submit" %}
      {% endelement %}
    </div>

  </div>
</div>
{% endblock %}


{% block page_scripts %}
<script defer>

  document.addEventListener("DOMContentLoaded", () => {

    document
      .getElementById("submitQueryButton")
      .addEventListener("click", (e) => {
        e.preventDefault();
        console.debug("submitting survey")
      });
  });
</script>
{% endblock %}