{% extends 'buildings/base.html' %}
{% load humanize %}
{% load compress %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'buildings/style.css' %}" />

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path fill="white"
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
</svg>

<section class="w-full h-full flex flex-col place-content-center justify-center items-center">
  <!--below is the first scrolling survey -->
  <div id="scroll">

    <div class="text-center pt-3">

      {% if form.was_filled %}
      <div class="bg-green-400">
        Survey was previously submitted - Submit again to overwrite your answers.
      </div>
      {% endif %}
      {% if previous_no_building_vote %}
      <div class="bg-red-400">
        You previously voted 'No Building' - Submit the survey to change this.
      </div>
      {% endif %}
    </div>

    {{ test|safe }}

    <form id="building-submission-form" class="mt-2" action="{% url 'buildings:do_survey' survey_slug=survey.slug %}"
      method="post">
      {% csrf_token %}

      {% include "buildings/surveys/survey_partial.html" with form=form %}

      <input type="hidden" id="latest_view_data" name="latest_view_data" value="" />

      <!--submit the button and close the form -->
      <div class="btn-row">
        <input id="btn-submit-vote" class="btn btn-main btn-vote me-5" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</section>



{% endblock content %}

{% block page_scripts %}

{% endblock page_scripts %}