body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

.fixed-top { 
  position: absolute;
}

/* Increase the width for large screens */
@media(min-width: 1200px) {
  .container {
    max-width: 75%;
  }
}



.logo-img {
  height: 40px;
  width: auto;
}
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


/* mouse over link */
a:hover {
  color: lightblue;
}


label {
    float:left;
    margin: 0px 0px;
}

input[type='number']{
  width: 80px;
} 

.clear {
    clear: both;
}



.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 20px;
}


.btn-login {
  width: 100%;  
  background: #5f788a;
  color: white;
}

.btn-vote {
  /* width: 100%;   */
  align-self: center;
  background: #5f788a;
  color: white;
}

.form-error, 
.msg-error {
  padding: 5px;
  margin: 5px;
  color: red;
}

.msg-container {
  display: flex;
  align-self: center;
}

.messages{
  padding: 10px;
  margin-top: 10px;
}

.td-vote {
  width: 18%
}

th:hover,
th:focus-within,
tr:hover,
tr:focus-within {
  background: #e9ecef;
  outline: none;
}

.td-building {
  padding: 0;
  height: 25px;
}

th a,
th a:hover,
td a,
td a:hover {
  display: block;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}

th > a:first-child,
td > a:first-child {
  display: block;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}


.classify-navigation {
  display: flex;
  justify-content: center;
}

.bottom-navigation {
  width: 25%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.classify-button-container {
  display: flex;
  justify-content: flex-start;
}

.material-selection-row {
  display: flex;
  vertical-align: top;
}

.material-selection-radios {
  display: flex;
  flex-direction: row;
  vertical-align: top;
  justify-content: space-between;
}

.radio-label-group {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
}

.radio-label-group input label {
  margin-top: 5px;
}

.th-buildings {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.building-search-filters {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.input-group {
  width:auto !important;
  /* margin-right: 15px; */
}

.vote-table td {
  vertical-align: middle;

}

.delete-row-icon {
  text-align: center;
  position: relative;
  height: 120%;
  /* width: 30px; */
  /* height: 30px; */
  right: -40px;
}

tr:hover .delete-row-icon {
  color: red;
}

.x-icon {
  position: relative;
  top: calc(50% - 10px);
}

.td-vote-last-cell {
  display: flex;
  justify-content: space-between;
}

.delete-note-icon a {
  color: black;
}

.delete-note-icon {
  text-align: center;
  position: relative;
  width: 30px;
  height: 30px;
  right: -40px;
}

.delete-note-icon a:hover {
  color: red;
}

.note-inner-container {
  width: 50%;
}
.note-inner-container textarea {
  width: 75%;
  resize: both;
}

.table {
  margin-bottom: 0%;
}

.note-input {
  width: 98%;
}

.note-input-container {
  display: flex;
}

.btn-no-building {
  align-self: center;
}
.btn-screenshot {
  align-self: center;
}

.building-info {
  width: 70%;
  display: flex;
  align-items: flex-end;
}

.building-info-col {
  display: flex;
  flex-direction: column;
}

.classify-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.container-wide {
  width: 100%;
  overflow: hidden;
}

.btn-row {
  display: flex;
  flex-direction: row-reverse;
}

.streetview-and-map-container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.streetview-container {
  height: 100%;
  width: 50%;
}

.map-and-submit-container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.map-container  {
  height: 100%;
  width: 100%;
}

#dragbar{
  height:100%;
  width: 7px;
  cursor: col-resize;
}

#streetview {
  height: 100%;
}

#satmap {
  height: 100%;
}

.building-id {
  display: flex;
  align-items: center;
}

.building-id-and-report {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.building-selection-row {
  display: flex;
}



.building-nav-left {
  margin-left: 4rem;
}
.building-nav-right {
  margin-right: 4rem;
}

.profile-pic {
  border-radius: 50%;
}

.spread-apart-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-stats-container {
  font-size: large;
}


/* Sharon's code from here */
/* style sheet section 0 */

#scroll {
overflow-y: scroll;
}

/* style sheet section 1 */
.survey {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  padding-left: 50px;
}

/*
.horizontal {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding-left: 50px;
  display: flex;
}
 */

.q-container {
  display: flex;
  flex-direction: column;
}


.q-header {
  font-size: 1rem;
  display: flex;
  margin-bottom: -0.15rem;
}

.survey-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.survey-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* style sheet section 2 */
.desc { display: none; }
.desc2 { display: none; }
.desc3 { display: none; }
.desc4 { display: none; }
.desc5 { display: none; }

.offscreen {
  position: absolute;
  left: -10000px;
  z-index: -99999;
  overflow: hidden;
}
