body {
    background-color: #fafafa;
    color: #333333;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.main {
  background:url('imgs/wave-haikei.svg');
  background-repeat: no-repeat;
  background-position: 80% 0%;
  background-size: cover;
  overflow-y: hidden;
  flex-grow : 1; /* allows the main section to fill the rest of the vertical space*/
}

.container {
  max-width: 80%;
}

.container-fluid {
  width: 90%;
}

.container-wide {
  width: 100%;
  margin-top: 0.5rem;
}


@media(max-width: 1400px) {
  .container {
    max-width: 85%;
  }
}

@media(max-width: 868px) {
  .container {
    max-width: 90%;
  }
  .container-fluid {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
  }
}


/* Navbar */
.navbar-brand {
  color: #dee4e8;
}
.navbar-brand:hover {
  color: #ffffff;
}
.brand-logo {
  height: 36px;
  width: auto;
}
.brand-text {
  position: relative;
  top: 1px;
}
.profile-pic-icon {
  border-radius: 50%;
}

@media(min-width: 868px) {
  .dropdown-menu.show {
    right: -10px;
    top: 125%;
    left: unset;
  }
}


@media (max-width: 1600px) {
  .latest-activity-box-col {
    width: 50%;
  }
}

  
h1, h2, h3, h4, h5, h6, strong {
  color: #444444;
}


.bg-steel {
  background-color: #5f788a;
}

.nav-item .nav-link {
  color: #cbd5db;
}
.nav-item .nav-link:hover {
  color: #ffffff;
}

.activity-nav-item .nav-link {
  color: #515354;
}
.activity-nav-item .nav-link:hover {
  color: #1e2225;
}
.activity-nav-item .nav-link.active {
  font-weight: 500;
}

.home-page-container {
  height: 100%;
}

.home-content {
  height: 85%;
}


.activity-tab-content {
  width: 85%;
  margin-bottom: 1.5rem;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

@media(max-width: 868px) {
  .activity-tab-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 0.5rem;
  }
}

.spread-apart-container {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media(max-width: 868px) {
  .spread-apart-container {
    flex-direction: column;
  }
}

.latest-activity-box {
  background: rgba(255, 255, 255, .7);
  border-radius: 10px;
  padding: 10px 20px;
  overflow-y: auto;
}

.latest-activity-box-col {
  width: 41.666667%;
}

.activity-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

label {
    float:left;
    margin: 0px 0px;
}

input[type='number']{
  width: 80px;
} 

.clear {
    clear: both;
}

input[disabled] {pointer-events:none}

.navbar {
  --bs-navbar-padding-y: 0.25rem;
}

.user-card {
  width: 350px;
  background: rgba(255, 255, 255, .7);
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.form_container {
  margin-top: 20px;
}


.btn-main {
  border: #5f788a;
  background: #5f788a;
  color: white;
}
.btn-main:hover, .btn-main:active, .btn-main:focus {
  background: #cdd7e6;
  color: #1e2225;
}

.btn-login {
  width: 100%;  
}

.btn-vote {
  align-self: center;
}

.form-error, 
.msg-error {
  padding: 5px;
  margin: 5px;
  color: red;
}

.msg-container {
  display: flex;
  align-self: center;
}

.messages{
  padding: 10px;
  margin-top: 10px;
}


th:hover,
th:focus-within,
tr:hover,
tr:focus-within {
  background: #e9ecef;
  outline: none;
}

.td-building {
  padding: 0;
  height: 25px;
}

th a,
th a:hover,
td a,
td a:hover {
  display: block;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}

th > a:first-child,
td > a:first-child {
  display: block;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}


.bottom-navigation {
  width: 25%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.activity-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vote-user {
  display: flex;
  align-items: center;
}



.th-buildings {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.building-search-filters {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.input-group {
  width:auto !important;
  /* margin-right: 15px; */
}

.vote-table td {
  vertical-align: middle;

}

tr:hover .delete-row-icon {
  color: red;
}

.td-vote-last-cell {
  display: flex;
  justify-content: space-between;
}


.table {
  margin-bottom: 0%;
}


.btn-no-building {
  white-space: nowrap;
  align-self: center;
}
.btn-screenshot {
  white-space: nowrap;
  align-self: center;
  margin-left: 1rem;
}

#screenshot-toast {
  background: #31d161;
  color: white;
}

.top-row-buttons {
  display: flex;
  flex-direction: row;
}



.building-info {
  width: 70%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.building-info-col {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  white-space: nowrap;
}

.building-nav-left {
  margin-left: 4rem;
}
.building-nav-right {
  margin-right: 4rem;
}

@media(max-width: 1303px) {
  .building-info-col {
    margin-left: 1rem;
  }
  .building-nav-left {
    margin-left: 2rem;
  }
  .building-nav-right {
    margin-right: 2rem;
  }
  .top-row-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn-screenshot {
    margin-left: 0;
    margin-top: 0.25rem;
  }
}




.survey-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}



.btn-row {
  display: flex;
  flex-direction: row-reverse;
}

.streetview-and-map-container {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media(max-height: 980px) {
  .streetview-and-map-container {
    height: 80vh;
  }
}

.streetview-container {
  height: 100%;
  width: 50%;
}

.map-and-survey-container {
  height: 100%;
  width: auto;
  flex: 1;
  flex-direction: column;
}

.map-container  {
  height: 100%;
  width: 100%;
}

#dragbar {
  height:100%;
  width: 7px;
  cursor: col-resize;
  background: linear-gradient(#a8adb0, #b5babe) no-repeat center/1px 100%;
}

#streetview {
  height: 100%;
}

#satmap {
  height: 100%;
}

.building-address {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.building-id-and-report {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.building-selection-row {
  display: flex;
}




.user-stats-container {
  font-size: large;
}

.tab-content {
  max-height: 100%;
  background-color: rgba(250, 250, 250, .65);
}

#scroll {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.tab-pane {
  height: 100%;
}

.specify {
  display: inline-block;
  grid-column: span 2;
}

.q-container {
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

.q-header {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: -0.10rem;
}

.survey-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.survey-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.survey-1col {
    display: flex;
    flex-direction: column;
}

.time-travel-container {
  display: none;
  background-color: #222222;
  opacity: .8;
  position: absolute;
  right: 0px;
  z-index: 10;
  margin-top: 10px;
  font-family: Roboto,Arial,sans-serif;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  padding: 6px 8px;
}

.time-travel-label {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}

.time-travel-select {
  display: block;
  height: 25px;
}

.desc { display: none; }
.desc2 { display: none; }
.desc3 { display: none; }
.desc4 { display: none; }
.desc5 { display: none; }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.modal {
  --bs-modal-width: 50%;
}

.infobox-section {
  margin-bottom: .5rem;
}

.infobox-p {
  margin-bottom: 0;
}

.infobox-img {
  margin-top: .5rem;
}