body {
    background-color: #fafafa;
    color: #333333;
}

.main {
  background:url('imgs/wave-haikei.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: hidden;
  height: 94vh;
}

.navbar-brand {
  color: #dee4e8;
}
.navbar-brand:hover {
  color: #ffffff;
}

.container {
  max-width: 80%;
}

@media(max-width: 1600px) {
  .container {
    max-width: 85%;
  }
  .main {
    height: 89vh;
  }
}

.logo-img {
  height: 40px;
  width: auto;
}
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}


.bg-steel {
  background-color: #5f788a;
}

.nav-item .nav-link {
  color: #cbd5db;
}

.nav-item .nav-link:hover {
  color: #ffffff;
}

.nav-item .nav-link.active {
  font-weight: 500;
}

.spread-apart-container {
  height: 80vh;
}

@media(max-width: 1600px) {
  .spread-apart-container {
    height: 67vh;
  }
}

.latest-activity-box {
  background: rgba(255, 255, 255, .7);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.latest-activity-box-col {
  width: 41.666667%;
}
@media (max-width: 1600px) {
  .latest-activity-box-col {
    width: 50%;
  }
}


/* mouse over link */
a:hover {
  color: lightblue;
}


label {
    float:left;
    margin: 0px 0px;
}

input[type='number']{
  width: 80px;
} 

.clear {
    clear: both;
}

input[disabled] {pointer-events:none}

.user-card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 20px;
}


.btn-login {
  width: 100%;  
  background: #5f788a;
  color: white;
}

.btn-vote {
  /* width: 100%;   */
  align-self: center;
  background: #5f788a;
  color: white;
}

.form-error, 
.msg-error {
  padding: 5px;
  margin: 5px;
  color: red;
}

.msg-container {
  display: flex;
  align-self: center;
}

.messages{
  padding: 10px;
  margin-top: 10px;
}

.td-vote {
  width: 18%
}

th:hover,
th:focus-within,
tr:hover,
tr:focus-within {
  background: #e9ecef;
  outline: none;
}

.td-building {
  padding: 0;
  height: 25px;
}

th a,
th a:hover,
td a,
td a:hover {
  display: block;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}

th > a:first-child,
td > a:first-child {
  display: block;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}


.bottom-navigation {
  width: 25%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.activity-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vote-user {
  display: flex;
  align-items: center;
}

.material-selection-row {
  display: flex;
  vertical-align: top;
}

.material-selection-radios {
  display: flex;
  flex-direction: row;
  vertical-align: top;
  justify-content: space-between;
}

.radio-label-group {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
}

.radio-label-group input label {
  margin-top: 5px;
}

.th-buildings {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.building-search-filters {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.input-group {
  width:auto !important;
  /* margin-right: 15px; */
}

.vote-table td {
  vertical-align: middle;

}

.delete-row-icon {
  text-align: center;
  position: relative;
  height: 120%;
  /* width: 30px; */
  /* height: 30px; */
  right: -40px;
}

tr:hover .delete-row-icon {
  color: red;
}

.td-vote-last-cell {
  display: flex;
  justify-content: space-between;
}


.table {
  margin-bottom: 0%;
}


.btn-no-building {
  align-self: center;
}
.btn-screenshot {
  align-self: center;
}

.building-info {
  width: 70%;
  display: flex;
  align-items: flex-end;
}

.building-info-col {
  display: flex;
  flex-direction: column;
}

.survey-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.container-wide {
  width: 99%;
}

.btn-row {
  display: flex;
  flex-direction: row-reverse;
}

.streetview-and-map-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media(max-height: 850px) {
  .streetview-and-map-container {
    height: 75vh;
  }
}


.streetview-container {
  height: 100%;
  width: 50%;
}

.map-and-survey-container {
  height: 100%;
  width: auto;
  flex: 1;
  flex-direction: column;
}

.map-container  {
  height: 100%;
  width: 100%;
}

#dragbar {
  height:100%;
  width: 7px;
  cursor: col-resize;
  background: linear-gradient(#a8adb0, #b5babe) no-repeat center/1px 100%;
}

#streetview {
  height: 100%;
}

#satmap {
  height: 100%;
}

.building-id {
  display: flex;
  align-items: center;
}

.building-id-and-report {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.building-selection-row {
  display: flex;
}


.building-nav-left {
  margin-left: 4rem;
}
.building-nav-right {
  margin-right: 4rem;
}

.profile-pic {
  border-radius: 50%;
  border: 1px solid;
  border-color: #444444;
}

.spread-apart-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-stats-container {
  font-size: large;
}

.tab-content {
  height: 100%;
  background-color: rgba(250, 250, 250, .5);
}

#scroll {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.tab-pane {
  height: 100%;
}

.survey {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  padding-left: 50px;
}

.specify {
  display: inline-block;
  grid-column: span 2;
}

.q-container {
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

.q-header {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: -0.10rem;
}

.survey-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.survey-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.survey-1col {
    display: flex;
    flex-direction: column;
}


.desc { display: none; }
.desc2 { display: none; }
.desc3 { display: none; }
.desc4 { display: none; }
.desc5 { display: none; }

/* Hidden element to store streetview/satellite snapshots */
.offscreen {
  position: absolute;
  left: -10000px;
  z-index: -99999;
  overflow: hidden;
}
