

<div id="field-render-target-{{field_num}}" class="field-render-target w-full" hx-swap-oob="true">
  {% for field in rendered_field %}
  {{ field.errors }}
  <fieldset class="ps-3 pb-2">
    <legend class="flex items-center text-lg text-slate-700 mb-2">
      <strong>{{ field.field.question_text }}</strong>
      {% if field.field.has_modal %}
      {% include "buildings/utils/info_modal_button.html" with modal_id=field.auto_id %}
      {% endif %}
    </legend>
    {{ field }}
    <div>
      {% if field.field.has_modal %}
      {% #modal id=field.auto_id title=field.field.modal.title %}
      {{ field.field.modal.body|safe }}
      {% /modal %}
      {% endif %}
    </div>
  </fieldset>
  {% endfor %}
</div>

<div id="field-form-holder-{{ field_num }}" class="field-form-holder font-medium text-gray-900 leading-6 flex flex-col gap-2">
  <span class="text-sm text-red-500">
    {{ field_form.non_field_errors }}
  </span>
  <div class="flex flex-row gap-1 w-full">
    <div class="flex flex-col gap-2 justify-start w-1/4">
      <label class="flex flex-col gap-1">
        <div class="flex flex-row items-baseline gap-2">
          <span>{{ field_form.field_label.label }}</span>
          <div data-tooltip-target="tooltip-hover-{{ field_num }}" data-tooltip-trigger="hover" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
          </svg>
        </div>
        <div id="tooltip-hover-{{ field_num  }}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
            The name of the field holding your question's responses in the results view and in exports.
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
          <span class="text-sm text-red-500">
            {{ field_form.errors.field_label }}
          </span>
        </div>
        {{ field_form.field_label }}
      </label>
    </div>
    <div class="flex flex-col gap-1 justify-start w-3/4">
      <label class="flex flex-col gap-1">
        <div class="flex flex-row items-baseline gap-2">
          <span>{{ field_form.question_text.label }}</span>
          <span class="text-sm text-red-500">
            {{ field_form.errors.question_text }}
          </span>
        </div>
        {{ field_form.question_text }}
      </label>
    </div>
  </div>
  
  <div class="flex flex-row gap-2 w-full divide-x-1 divide-gray-100">
    {% if field_form.num_columns %}
    <div class="flex flex-col gap-1 justify-start w-1/2">
      <label class="flex flex-col gap-1">
        <span>{{ field_form.num_columns.label }}</span>
        {{ field_form.num_columns }}
      </label>
    </div>
    {% endif %}
    {% if field_form.is_required %}
    <div class="flex flex-col gap-1 justify-start w-1/2">
      <label class="flex flex-col gap-1">
        <span>{{ field_form.is_required.label }}</span>
        {{ field_form.is_required }}
      </label>
    </div>
    {% endif %}
  </div>

  {% if field_form.number_type %}
  <div class="flex flex-col gap-1 justify-start w-1/2">
    <label class="flex flex-col gap-1">
      <span>{{ field_form.number_type.label }}</span>
      {{ field_form.number_type }}
    </label>
  </div>
  {% endif %}

{% if field_form.min_value or field_form.max_value %}
<div class="flex flex-row gap-2 w-1/2 divide-x-1 divide-gray-100">
    {% if field_form.min_value %}
    <div class="flex flex-col gap-1 justify-start w-1/2">
      <label class="flex flex-col gap-1">
        <span>{{ field_form.min_value.label }}</span>
        {{ field_form.min_value }}
      </label>
    </div>
    {% endif %}
    {% if field_form.max_value %}
    <div class="flex flex-col gap-1 justify-start w-1/2">
      <label class="flex flex-col gap-1">
        <span>{{ field_form.max_value.label }}</span>
        {{ field_form.max_value }}
      </label>
    </div>
  {% endif %}
</div>
{% endif %}

  {% if field_form.num_lines %}
  <div class="flex flex-col gap-1 justify-start w-1/2">
    <label class="flex flex-col gap-1">
      <span>{{ field_form.num_lines.label }}</span>
      {{ field_form.num_lines }}
    </label>
  </div>
  {% endif %}


  {% if field_form.has_specify %}
  <div class="flex flex-col gap-1 justify-start w-1/2">
    <label class="flex flex-col gap-1">
      <span>{{ field_form.specify_option.label }}</span>
      {{ field_form.specify_option }}
    </label>
  </div>
  {% endif %}
  <div class="flex flex-col gap-1 justify-start">
    <label class="flex flex-col gap-1 w-1/2">
      <div class="flex flex-row items-baseline gap-2">
        <span>{{ field_form.options.label }}</span>
        <span class="text-sm text-red-500">
          {{ field_form.errors.options }}
        </span>
      </div>
      {{ field_form.options }}
      {% if field_form.can_add_options and not field_form.is_disabled %}
      <button 
          class="add-option-button w-fit bg-white hover:bg-gray-50 shadow-xs hover:shadow-sm border-gray-400 border-[1px]
              block justify-self-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-gray-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
        <span>Add Option</span>
      </button>
      {% endif %}
    </label>
  </div>
</div>
