{% extends "buildings/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'buildings/query-builder.default.css' %}" />
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css" />
{% endblock %}


{% block content %}

<div class="flex justify-center pb-4 px-4 mb-4 h-full">
  <div class="flex flex-col w-[80%] h-full">

    <div class="w-full bg-white bg-opacity-50 pt-3 px-5 rounded-t-md text-md">
      {% if survey.status == 'DRAFT' %}

      {% #modal id="delete_draft" %}
      <div class="block flex-grow rounded-2xl px-10 pt-4 text-lg">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Confirm Draft Deletion</h1>
        <div id="draft-deletion-error" class="hidden bg-red-500 rounded-md p-5 text-white text-lg text-center">
          There was an error deleting your draft. Please try again later. If this persists, contact support.
        </div>
        <p class="mt-2"><span class="font-semibold me-1">Warning:</span>Once your draft is deleted, you will not be able to recover it.</p>
        <div class="flex justify-center mt-3">
          <button 
            id="confirm-draft-deletion"
            class=" bg-red-600 hover:bg-red-500 focus-visible:outline-red-600 
            block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            {% trans "Confirm Deletion" %}
          </button>
        </div>
      </div>
      {% /modal %}

      {% #modal id="activate_survey" %}
      <div class="block flex-grow rounded-2xl px-10 pt-4 text-lg">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Confirm Survey Activation</h1>
        <div id="survey-activation-error" class="hidden bg-red-500 rounded-md p-5 text-white text-lg text-center">
          There was an error activating your survey. Please check the questions and try again. If this persists, contact support.
        </div> 
        <div>Activate your survey to start collecting responses.</div>
        <p class="mt-2"><span class="font-semibold me-1">Warning:</span>Once your survey is active, you will not be able to modify its questionnaire.<br>Make sure you have saved your latest changes to the questions!</p>
        <div class="flex justify-center mt-3">
          <button 
            id="confirm-survey-activation"
            class=" bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600 
            block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            {% trans "Confirm Activation" %}
          </button>
        </div>
      </div>
      {% /modal %}
      
      {% elif survey.status == 'ACTIVE' %}

      {% #modal id="complete_survey" %}
      <div class="block flex-grow rounded-2xl px-10 pt-4 text-lg">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Confirm Survey Completion</h1>
        <div id="survey-completion-error" class="hidden bg-red-500 rounded-md p-5 text-white text-lg text-center">
          There was an error completing your survey. Please try again later. If this persists, contact support.
        </div>
        <div>Complete your survey to finish collecting responses.</div>
        <p class="mt-2"><span class="font-semibold me-1">Warning:</span>Once your survey is complete, you will not be able to collect any more responses. However, you can re-activate your survey later if you wish to collect more responses.</p>
        <div class="flex justify-center mt-3">
          <button 
            id="confirm-survey-completion"
            class=" bg-purple-700 hover:bg-purple-600 focus-visible:outline-purple-600 
            block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            {% trans "Confirm Completion" %}
          </button>
        </div>
      </div>
      {% /modal %}

      {% elif survey.status == 'COMPLETED' %}

      {% #modal id="reactivate_survey" %}
      <div class="block flex-grow rounded-2xl px-10 pt-4 text-lg">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Confirm Survey Re-activation</h1>
        <div id="survey-reactivation-error" class="hidden bg-red-500 rounded-md p-5 text-white text-lg text-center">
          There was an error completing your survey. Please try again later. If this persists, contact support.
        </div>
        <div>Re-activate your survey to collect more responses.</div>
        <div class="flex justify-center mt-3">
          <button 
            id="confirm-survey-reactivation"
            class=" bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600 
            block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            {% trans "Confirm Re-activation" %}
          </button>
        </div>
      </div>
      {% /modal %}

      {% #modal id="archive_survey" %}
      <div class="block flex-grow rounded-2xl px-10 pt-4 text-lg">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Confirm Survey Archival</h1>
        <div id="survey-archival-error" class="hidden bg-red-500 rounded-md p-5 text-white text-lg text-center">
          There was an error archiving your survey. Please try again later. If this persists, contact support.
        </div>
        <div>Archive your survey so it does not show up by default in the survey list or in the results page.</div>
        <div>You can un-archive your survey later.</div>
        <div class="flex justify-center mt-3">
          <button 
            id="confirm-survey-archival"
            class=" bg-slate-500 hover:bg-slate-400 focus-visible:outline-slate-500
            block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            {% trans "Confirm Archival" %}
          </button>
        </div>
      </div>
      {% /modal %}

      {% elif survey.status == 'ARCHIVED' %}

      {% #modal id="unarchive_survey" %}
      <div class="block flex-grow rounded-2xl px-10 pt-4 text-lg">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Confirm Survey Un-Archival</h1>
        <div id="survey-unarchival-error" class="hidden bg-red-500 rounded-md p-5 text-white text-lg text-center">
          There was an error un-archiving your survey. Please try again later. If this persists, contact support.
        </div>
        <div>Un-archive your survey so it shows up again in the completed state in the survey list and in the results page.</div>
        <div class="flex justify-center mt-3">
          <button 
            id="confirm-survey-unarchival"
            class="bg-purple-700 hover:bg-purple-600 focus-visible:outline-purple-600 
            block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            {% trans "Confirm Un-Archival" %}
          </button>
        </div>
      </div>
      {% /modal %}

      {% endif %}


      <section id="survey-info" class="flex flex-col gap-1 mb-4">
        <div class="flex flex-row items-baseline justify-between">
          <div class="flex flex-row items-center gap-2">
            <div class="text-3xl font-semibold">{{ survey.name }} </div>
            {% survey_status_pill survey=survey classes="ms-4 h-fit py-2 px-3" %}
          </div>

          <div class="flex gap-2">
            {% if survey.status == 'DRAFT' %}
            <button id="delete-draft-button" data-target-modal="delete_draft_modal"
              class="modal-open-button bg-red-600 hover:bg-red-500 focus-visible:outline-red-600 
              justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              {% trans "Delete Draft" %}
            </button>
            <button id="activate-survey-button" data-target-modal="activate_survey_modal"
              class="modal-open-button bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600 
              justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              {% trans "Activate Survey" %}
            </button>
            {% elif survey.status == 'ACTIVE' %}
            <button id="complete-survey-button" data-target-modal="complete_survey_modal"
              class="modal-open-button bg-purple-700 hover:bg-purple-600 focus-visible:outline-purple-700 
              justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              {% trans "Mark Complete" %}
            </button>
            <a class="" href="{% url 'buildings:do_survey_redirect' survey.slug %}">
              {% #button type="primary"%}
              Take Survey
              <svg class="inline-block rtl:rotate-180 w-3.5 h-3.5 ms-1" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
              {% /button %}
            </a>
            {% elif survey.status == 'COMPLETED' %}
            <a href="{% url 'buildings:survey_results' survey.slug %}">
              <button class="block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 
                bg-purple-700 hover:bg-purple-600 focus-visible:outline-blue-700 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                {% trans "View Survey Results" %}
              </button>
            </a>
            <button id="reactivate-survey-button" data-target-modal="reactivate_survey_modal"
              class="modal-open-button bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600 
              justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              {% trans "Reactivate Survey" %}
            </button>
            <button id="archive-survey-button" data-target-modal="archive_survey_modal"
              class="modal-open-button bg-slate-500 hover:bg-slate-400 focus-visible:outline-slate-500 
              justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              {% trans "Archive Survey" %}
            </button>
            {% elif survey.status == 'ARCHIVED' %}
            <button id="unarchive-survey-button" data-target-modal="unarchive_survey_modal"
            class="modal-open-button bg-purple-700 hover:bg-purple-600 focus-visible:outline-purple-600  
            justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            {% trans "Un-Archive Survey" %}
          </button>
            {% endif %}
          </div>
        </div>
        
        <!-- Tabs -->
        <nav id="tabs-survey" class="flex flex-row flex-nowrap" role="tablist">
          <button id="survey-questionnaire-tab"
            class="px-2 py-1.5 text-gray-900 text-lg
            hover:text-black hover:underline hover:underline-offset-[15px] hover:decoration-gray-900 hover:decoration-[3px]" type="button" role="tab" aria-controls="user-activity" aria-selected="false">
            Questionnaire
          </button>
          <button id="survey-definition-tab"
            class="pe-2 py-1.5 text-gray-900 text-lg
            hover:text-black hover:underline hover:underline-offset-[15px] hover:decoration-gray-900 hover:decoration-[3px]" type="button" role="tab" aria-controls="latest-activity" aria-selected="false">
            Definition
          </button>
        </nav>
        <hr class="w-full">
      </section>
    </div>

    <div id="survey-definition" class="">
      <div class="w-full bg-white bg-opacity-50 pb-3 mb-3 px-5 rounded-b-md text-md">
        
        <section>
          <div class="mb-3">
            <div class="text-2xl">Source dataset</div>
            <!-- Make link to dataset -->
            <p>{{ dataset.name }}</p>
          </div>
            
          <div id="survey-description" class="mb-3">
            <div class="text-2xl">Survey Description</div>
            <p>{{survey.description}}</p>
          </div>
        </section>

        <section id="candidate-filters" class="mt-4 mb-4">
          {% include 'buildings/survey_details/candidates_filter_partial.html' %}
        </section>



      </div>

      {% block page-and-paging-controls %}
      
      {% include 'buildings/survey_details/candidates_partial.html' %}

      {% endblock %}

    </div>
    <div id="survey-questionnaire" class="flex flex-col w-full bg-white bg-opacity-50 pb-7 mb-3 px-5 rounded-b-md text-md">
      
      <div class="flex justify-between">
        {% if survey.status == 'DRAFT' %}

          <div class="flex flex-col items-start gap-2">
            <p>Add/Modify your survey's questionnaire.</p>
            <div id="last-saved-time">
              Last Saved: {{ survey.date_modified }}
            </div>
          </div>
  
          <div class="flex flex-row gap-2 items-center">
            <div id="save-survey-success" class="hidden text-green-600 text-lg mr-3">
              Saved!
            </div>
            <button id="save-survey-button" 
            class="bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-600 w-fit block
            justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              {% trans "Save Progress" %}
            </button>
          </div>
          {% else %}

          <div class="mb-2">
            You can no longer edit the questions.
          </div>
        {% endif %}

      </div>

      <div id="save-survey-error" class="hidden text-red-500 text-lg self-center mb-2" >
        There was an error saving your survey. Please check the inputs and try again.
      </div>
      
      <div id="questions-holder" class="flex flex-col gap-2 ">
        <!-- Better to do a series of left-right blocks, easier to keep aligned and separately rendering -->
        <template id="new-field-template">
          <div class="new-field-form-and-render-block flex flex-row h-full">
            <div class="w-1/2 h-full p-3 bg-white bg-opacity-80 rounded-lg">
              <div class="flex justify-between">
                
                <!-- Field type select -->
                <div class="flex flex-col gap-2 justify-start">
                  <span>Question Type</span>
                  <select id="question-type-select-0" 
                    name="field_type"               
                    hx-get="{% url 'buildings:render_question_preview' %}"
                    hx-vals="js:{field_num: 0}"
                    hx-trigger="change"
                    hx-target="#field-form-holder-0"
                    hx-swap="innerHTML"
                    class='block min-w-[350px] text-lg w-fit rounded-md border-0 py-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600'>
                      <option disabled selected value> --- </option>
                      {% for type in all_question_types %}
                      <option id="{{ dataset.slug }}-link" value="{{ type.id }}" class="appearance-none" 
                      {% if dataset.id == current_dataset.id %}selected{% endif %}>
                        {{ type.label }}
                      </option>
                      {% endfor %}
                  </select>
                </div>

                <button id="delete-question-0" type="button"
                  class="delete-question-button ms-auto p-2 border border-gray-200 bg-white text-gray-400 hover:text-gray-900 rounded-lg hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8"
                  aria-label="Close">
                  <span class="sr-only">Close</span>
                  <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                  </svg>
                </button>
              </div>

              <form
                id="field-form-0"
                hx-post="{% url 'buildings:render_question_preview' %}"
                hx-trigger="change"
                hx-vals="js:{field_num: 0}"
                hx-target="#field-form-holder-0"
                hx-swap="innerHTML"
                hx-include="previous select"
                novalidate
                >
                <!-- Field Form -->
                {% csrf_token %}
                <div id="field-form-holder-0" class="field-form-holder text-lg font-medium text-gray-900 leading-6">
                </div>
              </form>
            </div>
            <!--  Render target  -->
            <div class="w-1/2 h-full flex flex-col items-start justify-center">
              <div id="field-render-target-0" class="field-render-target">
              </div>
            </div>
          </div>
        </template>
        <template id="new-option-template">
          <li class="flex items-center bg-white p-2 rounded-lg shadow-sm cursor-grab w-fit gap-1" draggable="true">
            <div class="mr-3 text-gray-400 cursor-grab">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-grip-vertical">
                <circle cx="9" cy="12" r="1"></circle><circle cx="9" cy="5" r="1"></circle>
                <circle cx="9" cy="19" r="1"></circle><circle cx="15" cy="12" r="1"></circle>
                <circle cx="15" cy="5" r="1"></circle><circle cx="15" cy="19" r="1"></circle>
              </svg>
            </div>
            <label class="">
              <input type="text" name="options" value="Option 2" placeholder="Option 2"
                class="rounded-md text-lg border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
            </label>
            <!-- <button type="button"
              class="delete-option-button ms-auto p-2 border border-gray-200 bg-white text-gray-400 hover:text-gray-900 rounded-lg hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8"
              aria-label="Close">
              <span class="sr-only">Close</span>
              <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
              </svg>
            </button> -->
          </li>
        </template>



        <!-- Render existing fields of the survey -->
        {% for field_type, field_form, rendered_field in existing_fields_to_render %}
        <div class="new-field-form-and-render-block flex flex-row">
          <div class="w-1/2 h-full p-3 bg-white bg-opacity-80 rounded-lg">
            <div class="flex justify-between mb-1">  
              <!-- Field type select -->
              <div class="flex flex-col gap-1 justify-start">
                <span>Question Type</span>
                <select id="question-type-select-{{ forloop.counter }}" 
                  name="field_type"               
                  hx-get="{% url 'buildings:render_question_preview' %}"
                  hx-vals="js:{field_num: {{ forloop.counter }}}"
                  hx-trigger="change"
                  hx-target="#field-form-holder-{{ forloop.counter }}"
                  hx-swap="innerHTML"
                  class='block min-w-[350px] text-md w-fit rounded-md border-0 py-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600
                  disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-700 disabled:shadow-none'
                  {% if field_form.is_disabled %} disabled {%endif%}
                  >
                    <option disabled selected value> --- </option>
                    {% for type in all_question_types %}
                    <option id="{{  type.id  }}-link" value="{{ type.id }}" class="disabled:text-gray-700" 
                    {% if type.id == field_type %}selected{% endif %}>
                      {{ type.label }}
                    </option>
                    {% endfor %}
                </select>
              </div>
              {% if not field_form.is_disabled %} 
              <button id="delete-question-{{ forloop.counter }}" type="button"
                class="delete-question-button ms-auto p-2 border border-gray-200 bg-white text-gray-400 hover:text-gray-900 rounded-lg hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8"
                aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                </svg>
              </button>
              {%endif%}
            </div>

            <form
              id="field-form-{{ forloop.counter }}"
              hx-post="{% url 'buildings:render_question_preview' %}"
              hx-trigger="change"
              hx-vals="js:{field_num: {{ forloop.counter }}}"
              hx-target="#field-form-holder-{{ forloop.counter }}"
              hx-swap="innerHTML"
              hx-include="previous select"
              novalidate
              >
              <!-- Field Form -->
              {% csrf_token %}
              <div id="field-form-holder-{{ forloop.counter }}" class="field-form-holder font-medium text-gray-900 leading-6 flex flex-col gap-2">
                <span class="text-sm text-red-500">
                  {{ field_form.non_field_errors }}
                </span>
                <div class="flex flex-row gap-1 w-full">
                  <div class="flex flex-col gap-2 justify-start w-1/4">
                    <label class="flex flex-col gap-1">
                      <div class="flex flex-row items-baseline gap-2">
                        <span>{{ field_form.field_label.label }}</span>
                        <div data-tooltip-target="tooltip-hover-{{ forloop.counter }}" data-tooltip-trigger="hover" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
                            viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                          </svg>
                        </div>
                        <div id="tooltip-hover-{{ forloop.counter }}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                            The name of the field holding your question's responses in the results view and in exports.
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                        <span class="text-sm text-red-500">
                          {{ field_form.errors.field_label }}
                        </span>
                      </div>
                      {{ field_form.field_label }}
                    </label>
                  </div>
                  <div class="flex flex-col gap-1 justify-start w-3/4">
                    <label class="flex flex-col gap-1">
                      <div class="flex flex-row items-baseline gap-2">
                        <span>{{ field_form.question_text.label }}</span>
                        <span class="text-sm text-red-500">
                          {{ field_form.errors.question_text }}
                        </span>
                      </div>
                      {{ field_form.question_text }}
                    </label>
                  </div>
                </div>
                
                <div class="flex flex-row gap-2 w-full divide-x-1 divide-gray-100">
                  {% if field_form.num_columns %}
                  <div class="flex flex-col gap-1 justify-start w-1/2">
                    <label class="flex flex-col gap-1">
                      <span>{{ field_form.num_columns.label }}</span>
                      {{ field_form.num_columns }}
                    </label>
                  </div>
                  {% endif %}
                  {% if field_form.is_required %}
                  <div class="flex flex-col gap-1 justify-start w-1/2">
                    <label class="flex flex-col gap-1">
                      <span>{{ field_form.is_required.label }}</span>
                      {{ field_form.is_required }}
                    </label>
                  </div>
                  {% endif %}
                </div>

                {% if field_form.number_type %}
                <div class="flex flex-col gap-1 justify-start w-1/2">
                  <label class="flex flex-col gap-1">
                    <span>{{ field_form.number_type.label }}</span>
                    {{ field_form.number_type }}
                  </label>
                </div>
                {% endif %}
              
                {% if field_form.min_value or field_form.max_value %}
                <div class="flex flex-row gap-2 w-1/2 divide-x-1 divide-gray-100">
                    {% if field_form.min_value %}
                    <div class="flex flex-col gap-1 justify-start w-1/2">
                      <label class="flex flex-col gap-1">
                        <span>{{ field_form.min_value.label }}</span>
                        {{ field_form.min_value }}
                      </label>
                    </div>
                    {% endif %}
                    {% if field_form.max_value %}
                    <div class="flex flex-col gap-1 justify-start w-1/2">
                      <label class="flex flex-col gap-1">
                        <span>{{ field_form.max_value.label }}</span>
                        {{ field_form.max_value }}
                      </label>
                    </div>
                  {% endif %}
                </div>
                {% endif %}
              

                {% if field_form.has_specify %}
                <div class="flex flex-col gap-1 justify-start w-1/2">
                  <label class="flex flex-col gap-1">
                    <span>{{ field_form.specify_option.label }}</span>
                    {{ field_form.specify_option }}
                  </label>
                </div>
                {% endif %}
                <div class="flex flex-col gap-1 justify-start">
                  <label class="flex flex-col gap-1 w-1/2">
                    <div class="flex flex-row items-baseline gap-2">
                      <span>{{ field_form.options.label }}</span>
                      <span class="text-sm text-red-500">
                        {{ field_form.errors.options }}
                      </span>
                    </div>
                    {{ field_form.options }}
                    {% if field_form.can_add_options and not field_form.is_disabled %}
                    <button 
                        class="add-option-button w-fit bg-white hover:bg-gray-50 shadow-xs hover:shadow-sm border-gray-400
                            flex gap-2 justify-self-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-gray-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                      <span class="ms-2">Add Option</span>
                    </button>
                    {% endif %}
                  </label>
                </div>
              </div>
            </form>
          </div>
          <!--  Render target  -->
          <div class="w-1/2 h-full flex flex-col items-start justify-center pt-[50px]">
            <div id="field-render-target-{{ forloop.counter }}" class="field-render-target w-full">
              {% for field in rendered_field %}
              {{ field.errors }}
              <fieldset class="ps-3 pb-2">
                <legend class="flex items-center text-lg text-slate-700 mb-2">
                  <strong>{{ field.field.question_text }}</strong>
                  {% if field.field.has_modal %}
                  {% include "buildings/utils/info_modal_button.html" with modal_id=field.auto_id %}
                  {% endif %}
                </legend>
                {{ field }}
                <div>
                  {% if field.field.has_modal %}
                  {% #modal id=field.auto_id title=field.field.modal.title %}
                  {{ field.field.modal.body|safe }}
                  {% /modal %}
                  {% endif %}
                </div>
              </fieldset>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      <div class="mt-3">
        {% if survey.status == 'DRAFT' %}
        <button id="add-question" 
          class="bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-600 w-fit
          justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
          {% trans "Add Question" %}
        </button>
        {% endif %}
      </div>
    </div>
    
  </div>
</div>
    {% endblock %}

  {% block page_scripts %}
  <div id="js-variables">
    {{ num_fields | json_script:"num_fields" }}
    {{ survey.status | json_script:"survey_status" }}
    {{ dataset_filter_rules | json_script:"dataset_filter_rules" }}
    {{ survey_filter_rules | json_script:"survey_filter_rules" }}
    {{ qb_dataset_filters | json_script:"qb_dataset_filters" }}
    {{ qb_surveys_filters | json_script:"qb_surveys_filters" }}
    {{ user_bldg_cols | json_script:"user_bldg_cols" }}
    {{ default_bldg_cols | json_script:"default_bldg_cols" }}
    {{ user_survey_cols | json_script:"user_survey_cols" }}
    {{ default_survey_cols | json_script:"default_survey_cols" }}
  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
  <script src="{% static 'scripts/query-builder.standalone.js' %}"></script>
  <script defer src="{% static 'scripts/survey_details.js' %}"></script>
  {% endblock %}