{% extends "buildings/base.html" %}
{% block content %}

{% load i18n %}
{% load humanize %}

<div class="flex flex-row w-full h-full px-5 py-5 justify-between 2xl:px-16">
  
  <div class="flex flex-col gap-5 me-3 max-w-[60%]">
    <div class="absolute -z-[1] w-[90vh] h-[90vh] bg-white bg-opacity-25 rounded-full aspect-square"></div>

    <section class="mt-2">
      <div class="text-5xl font-semibold">Dashboard</div>
    </section>

    <section id="sections-surveys" class="flex flex-col justify-start w-fit mt-6 min-h-[25%]">
      <div class="flex flex-row gap-2 items-center justify-between">
        <div class="mb-2 text-4xl font-bold tracking-tight text-gray-900">
          <span> Surveys </span>
          <a class="font-normal text-xl hover:underline" href="{% url 'buildings:surveys' %}">
            <span>{% trans 'View all' %}</span>
          </a>
        </div>
        <div>
          <a href="{% url 'buildings:new_survey' %}">
            <button id="create-survey-button"
              class="block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 
              bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-700 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
              {% trans 'New Survey' %}
            </button>
          </a>
        </div>
      </div>

      <!-- <hr class="w-1/2"> -->

      <div class="grid grid-cols-3 gap-2 py-2">
        {% for survey in surveys %}
        {% url 'buildings:do_survey_redirect' survey.slug as survey_url %}

        <div class="max-w-sm flex flex-col px-6 pb-4 bg-white bg-opacity-70 border border-gray-300 rounded-lg shadow-md">
          <div class="self-end pt-3">
            <div class="w-fit h-[20px] py-1 px-2 rounded-full flex justify-center items-center gap-1
            {% if survey.status == 'ACTIVE' %}
            bg-emerald-100 
            {% elif survey.status == 'DRAFT' %}
            bg-blue-100 
            {% elif survey.status == 'COMPLETED' %}
            bg-pruple-200 
            {% elif survey.status == 'ARCHIVED' %}
            bg-gray-300 
            {% endif %}
            ">
              <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="2.5" cy="3" r="2.5" 
                {% if survey.status == 'ACTIVE' %}
                fill="#059669"
                {% elif survey.status == 'DRAFT' %}
                fill="#059696"
                {% elif survey.status == 'COMPLETED' %}
                fill="#34d6"
                {% elif survey.status == 'ARCHIVED' %}
                fill="#aaaaaa"
                {% endif %}
                ></circle>
              </svg>
              <span class="font-medium text-xs text-emerald-600">{{ survey.status|title }}</span>
            </div>
          </div>

          <div class="flex items-center gap-2 mb-2 h-[70px]">
            <div class="text-xl font-bold tracking-tight text-gray-900 line-clamp-2">{{ survey.name }}</div>
          </div>

          <hr>
          <div class="h-full flex flex-col justify-between">
            <div class="mb-3 py-5">
              <p class="text-gray-700 line-clamp-3">{{ survey.description }}</p>
            </div>
            
            <div>
              <div class="flex items-center text-sm justify-between">
                <div class="text-sm text-gray-700">{{ survey.num_surveyed|intcomma }} / {{ survey.target_population_size|intcomma }} surveyed</div>
              </div>
              <div class="w-full bg-gray-100 rounded-full h-2 mt-2">
                <div class="bg-teal-500 h-2 rounded-full" style="width: {{ survey.get_progress_percent }}%;"></div>
              </div>
            </div>
    
            <div class="flex flex-row gap-4">
              {% if survey.status == 'ACTIVE' %}
              <a id="next" href="{% url 'buildings:survey_results' survey.slug %}">
                <button id="survey-results-button"
                  class="block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 
                  bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-700 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                    View Results
                </button>
              </a>
              
              <a class="" href="{% url 'buildings:do_survey_redirect' survey.slug %}">
                {% #button type="primary"%}
                Take Survey
                <svg class="inline-block rtl:rotate-180 w-3.5 h-3.5 ms-1" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
                {% /button %}
              </a>
              {% else %}
              <a id="next" href="{% url 'buildings:edit_survey' survey.slug %}">
                <button id="survey-results-button"
                  class="block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 
                  bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-700 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                    Edit Questions
                </button>
              </a>
              {% endif %}

            </div>
          </div>
        </div>
        {% empty %}
        <div class="max-w-sm block ps-1 mt-3">
          <div class="text-xl">
            You don't have any surveys
          </div>
        </div>
        {% endfor %}
      </div>

    </section>

    <section id="sections-datasets" class="flex flex-col justify-start mt-3">

      <div class="mb-2 text-4xl font-bold tracking-tight text-gray-900">Datasets</div>

      <div class="grid grid-cols-3 gap-2 py-2">
        {% for dataset in datasets %}
        {% url 'buildings:dataset' dataset.slug as dataset_url %}

        {% #card title=dataset.name body=dataset.description href=dataset_url %}

        <!-- <a href="#">
          <button type="button"
            class="bg-teal-600 hover:bg-teal-500 focus-visible:outline-teal-600block justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
            View Buildings
          </button>
        </a> -->

        {% /card %}
        {% empty %}
        <div class="max-w-sm block ps-1 mt-3">
          <div class="text-xl">
            {% trans "You don't have any datasets" %}
          </div>
        </div>
        {% endfor %}
      </div>

    </section>

  </div>

  <div class="h-[calc(100vh-56px-56px)] w-[36%] px-2 overflow-hidden">
    <div id="activity-target" class="flex flex-col w-full max-h-full justify-between">
      <div>
        <nav id="tabs-activity" class="flex flex-row flex-nowrap" role="tablist">
          <button id="latest-activity-tab"
            class="px-2 py-1.5 text-gray-900 
            hover:text-black hover:underline hover:underline-offset-[11px] hover:decoration-gray-900 hover:decoration-[3px]" type="button" role="tab" aria-controls="latest-activity" aria-selected="false">
            Latest Activity
          </button>
          <button id="user-activity-tab"
            class="px-2 py-1.5 text-gray-900 
            hover:text-black hover:underline hover:underline-offset-[11px] hover:decoration-gray-900 hover:decoration-[3px]" type="button" role="tab" aria-controls="user-activity" aria-selected="false">
            Your Activity
          </button>
        </nav>
      </div>

      {% block activity-tab-content %}
      <div id="activity-tab-content" class="activity-tab-content overflow-y-auto">
        <div id="latest-activity"
          class="{% if not active_tab == 'latest' %} hidden {% endif %} bg-white bg-opacity-70 rounded-md px-3 py-5 overflow-y-auto h-full" role="tabpanel" aria-labelledby="latest-activity-tab" tabindex="0">
          <div class="flex items-baseline mb-1 flex-col md:flex-row">
            <div class="ms-2">
              {{ total_votes }} responses total
            </div>
          </div>
          <ul class="flex flex-col rounded-md gap-2">
            {% for vote in latest_votes_page %}
            <li class="bg-white bg-opacity-80 px-3 py-2 border border-gray-100 rounded-md shadow-sm hover:shadow-md">
              <a class="flex flex-row gap-3 " href="{% url 'buildings:do_survey' survey_slug=vote.survey.slug building_slug=vote.building.slug %}">
                <object class="rounded-md h-[90px] w-[125px]" data="{{ vote.building.get_thumbnail_url }}" tabindex="-1"
                  type="image/jpeg">
                  <div class="flex rounded-md h-[90px] w-[125px] bg-gray-100 justify-center items-center">
                    No image found
                  </div>
                </object>
                <div class="flex flex-col flex-grow justify-between">
                  <div class="flex items-center justify-between mt-2">
                    <div class="flex items-center">
                      <img class="profile-pic-icon border me-2" src="{{ vote.created_by.get_avatar_url }}" />
                      <strong>
                        {{ vote.created_by.username }}
                      </strong>
                    </div>
                    <div class="vote-date">
                      {{ vote.date_modified | naturaltime }}
                    </div>
                  </div>
                
                  <div class="mb-2 text-gray-900">
                    {{ vote.building.address }}, {{ vote.building.muni }}
                  </div>
                </div>
              </a>
            </li>
            {% empty %}
            <li class="bg-white bg-opacity-80 flex flex-col px-3 py-2 border border-gray-100 rounded-md shadow-sm">
              No recent activity
            </li>
            {% endfor %}
          </ul>
          <div class="mt-3">
            <span class="flex gap-2">
              {% if latest_votes_page.has_previous %}
              <a href='#' hx-swap="outerHTML" hx-target='#activity-tab-content'
                hx-get="?latest_votes_page=1&active_tab=latest&user_votes_page={{ user_votes_page.number }}">&laquo;
                first</a>
              <a href='#' hx-swap="outerHTML" hx-target='#activity-tab-content'
                hx-get="?latest_votes_page={{ latest_votes_page.previous_page_number }}&active_tab=latest&user_votes_page={{ user_votes_page.number }}">prev.</a>
              {% endif %}

              <span class="current">
                Page {{ latest_votes_page.number }} of {{ latest_votes_page.paginator.num_pages }}.
              </span>

              {% if latest_votes_page.has_next %}
              <a href='#' hx-swap="outerHTML" hx-target='#activity-tab-content'
                hx-get="?latest_votes_page={{ latest_votes_page.next_page_number }}&active_tab=latest&user_votes_page={{ user_votes_page.number }}">next</a>
              <a href='#' hx-swap="outerHTML" hx-target='#activity-tab-content'
                hx-get="?latest_votes_page={{ latest_votes_page.paginator.num_pages }}&active_tab=latest&user_votes_page={{ user_votes_page.number }}">last
                &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>

        <div id="user-activity"
          class="{% if not active_tab == 'user' %} hidden {% endif %} bg-white bg-opacity-60 rounded-md px-3 py-5 overflow-y-auto h-full" 
          role="tabpanel" aria-labelledby="user-activity-tab" tabindex="1">
          <div class="flex items-baseline mb-1 flex-col md:flex-row">
            <div>
              You've surveyed {{ num_user_votes }} buildings.
              {% if num_user_votes > 100 %}
              You're Amazing!!!
              {% elif num_user_votes > 40 %}
              Great Job!!
              {% elif num_user_votes > 20 %}
              Keep it up!!
              {% elif num_user_votes > 10 %}
              Good Job!
              {% endif %}
            </div>
          </div>
          <ul class="flex flex-col rounded-md gap-2">
            {% for vote in user_votes_page %}
            <li class="bg-white bg-opacity-80 px-3 py-2 border border-gray-100 rounded-md shadow-sm hover:shadow-md">
              <a class="flex flex-row gap-3 " href="{% url 'buildings:do_survey' survey_slug=vote.survey.slug building_slug=vote.building.slug %}">
                <object class="rounded-md h-[90px] w-[125px]" data="{{ vote.building.get_thumbnail_url }}" tabindex="-1"
                type="image/jpeg">
                <div class="flex rounded-md h-[90px] w-[125px] bg-gray-100 justify-center items-center">
                  No image found
                </div>
              </object>
              <div class="flex flex-col flex-grow justify-between">
                <div class="flex items-center justify-between mt-2">
                  <div class="flex items-center">
                    <img class="profile-pic-icon border me-2" src="{{ vote.created_by.get_avatar_url }}" />
                    <strong>
                      {{ vote.created_by.username }}
                    </strong>
                  </div>
                  <div class="vote-date">
                    {{ vote.date_modified | naturaltime }}
                  </div>
                </div>
                
                <div class="mb-2 text-gray-900 hover:text-black transition-all duration-100">
                    {{ vote.building.address }}, {{ vote.building.muni }}
                  </div>
                </div>
              </a>
            </li>
            {% empty %}
            <li class="bg-white bg-opacity-80 flex flex-col px-3 py-2 border border-gray-100 rounded-md shadow-sm">
              No recent activity
            </li>
            {% endfor %}
          </ul>

          <div class="pagination mt-3 ms-2">
            <span class="step-links">
              {% if user_votes_page.has_previous %}
              <a href='#' hx-swap="outerHTML" hx-target='#activity-tab-content'
                hx-get="?user_votes_page=1&active_tab=user&latest_votes_page={{ latest_votes_page.number }}">&laquo;
                first</a>
              <a href='#' hx-swap="outerHTML" hx-target='#activity-tab-content'
                hx-get="?user_votes_page={{ user_votes_page.previous_page_number }}&active_tab=user&latest_votes_page={{ latest_votes_page.number }}">prev.</a>
              {% endif %}

              <span class="current">
                Page {{ user_votes_page.number }} of {{ user_votes_page.paginator.num_pages }}.
              </span>

              {% if user_votes_page.has_next %}
              <a href='#' hx-swap="outerHTML" hx-target='#activity-tab-content'
                hx-get="?user_votes_page={{ user_votes_page.next_page_number }}&active_tab=user&latest_votes_page={{ latest_votes_page.number }}">next</a>
              <a href='#' hx-swap="outerHTML" hx-target='#activity-tab-content'
                hx-get="?user_votes_page={{ user_votes_page.paginator.num_pages }}&active_tab=user&latest_votes_page={{ latest_votes_page.number }}">last
                &raquo;</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}

{% block page_scripts %}
{% load static %}
{% load compress %}
{% compress js %}
<script defer src="{% static 'scripts/index.js' %}"></script>
{% endcompress %}
{% endblock page_scripts %}