

<div id="form-holder" class="text-lg font-medium text-gray-900 leading-6">
  <span class="hidden text-sm text-red-500">
    {{ new_field_form.non_field_errors }}
  </span>

  <div class="flex flex-col gap-2 justify-start">
    <label class="flex flex-col gap-1">
      <span>{{ new_field_form.question_type.label }}</span>
      <span class="hidden text-sm text-red-500">
        {{ new_field_form.errors.question_type }}
      </span>
      {{ new_field_form.question_type }}
    </label>
  </div>

  <div class="flex flex-col gap-2 justify-start">
    <label class="flex flex-col gap-1">
      <span>{{ new_field_form.field_id.label }}</span>
      <span class="hidden text-sm text-red-500">
        {{ new_field_form.errors.field_id }}
      </span>
      {{ new_field_form.field_id }}
    </label>
  </div>
  <div class="flex flex-col gap-2 justify-start">
    <label class="flex flex-col gap-1">
      <span>{{ new_field_form.field_label.label }}</span>
      <span class="hidden text-sm text-red-500">
        {{ new_field_form.errors.field_label }}
      </span>
      {{ new_field_form.field_label }}
    </label>
  </div>
  <div class="flex flex-col gap-2 justify-start">
    <label class="flex flex-col gap-1">
      <span>{{ new_field_form.question_text.label }}</span>
      <span class="hidden text-sm text-red-500">
        {{ new_field_form.errors.question_text }}
      </span>
      {{ new_field_form.question_text }}
    </label>
  </div>

</div>

<div id="field-rendering-target" hx-swap-oob="true">
  {% for field in rendered_field %}
  {{ field.errors }}
  <fieldset class="ps-3 pb-2">
    <legend class="flex items-center text-lg text-slate-700 mb-2">
      <strong>{{ field.field.question_text }}</strong>
      {% if field.field.has_modal %}
      {% include "buildings/utils/info_modal_button.html" with modal_id=field.auto_id %}
      {% endif %}
    </legend>
    {{ field }}
    <div>
      {% if field.field.has_modal %}
      {% #modal id=field.auto_id title=field.field.modal.title %}
      {{ field.field.modal.body|safe }}
      {% /modal %}
      {% endif %}
    </div>
  </fieldset>
  {% endfor %}
</div>