{% with id=widget.attrs.id widget_value=widget.value %}
<div id="{{ id }}" class="{{ widget.attrs.class }}">
  {% for _, options, _ in widget.optgroups %}

    {% for option in options %}

    {% comment %}
    widget value: {{ widget_val }} <br>
    widget is bound?: {{ widget.is_bound }} <br>  
    option_value: {{ option.value }} <br>
    {% if option.value == widget_val %}
    are equal <br>
    {% else %}
    are not equal <br>
    {% endif %}
    option selected? {{ option.selected }} <br>
    {% endcomment %}

    {% if widget.has_specify and option.value == widget.specify_option_value %}
    <div id="{{ id }}_specify_container" class="flex items-center">
      <label onclick="activateSpecifyEntryField('{{ id }}_specify');">
        <input id="{{ id }}_specify" type="{{ widget.input_type }}" class="{{ widget.attrs.checkbox_class }}"
          name="{{ widget.name }}" {% if widget.value_was_specified %} checked{% endif %}>{{ option.label }}:</label>
      <input class="{{ widget.attrs.specify_class }}" id="{{ id }}_specify_value" type="{{ widget.specify_input_type }}"
        name="{{ widget.name }}" {% if widget.value_was_specified %} value="{{ widget.specified_value }}" {% else %} disabled 
        {% endif %} />
    </div>
    {% else %}
    <label class="flex items-center my-0.5">
      <input id="{{ option.attrs.id }}" class="{{ widget.attrs.checkbox_class }}" type="{{ widget.input_type }}"
        name="{{ option.name }}" value="{{ option.value }}" {% if option.value in widget_value %}
        checked{% endif %}>{{ option.label }}
    </label>
    {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endwith %}