{% with id=widget.attrs.id %}
<div id="{{ id }}" class="{{ widget.attrs.class }}" >
  {% for _, options, _ in widget.optgroups %}
    {% for option in options %}
      {% with widget=option %}
        <label>
          <input id="{{ widget.attrs.id }}" class="me-1" type="{{ widget.type }}" 
            name="{{ widget.name }}" onclick='markCheckboxesNotRequired("{{ widget.name }}")' value="{{ widget.value|stringformat:'s' }}" required>{{ widget.label }}
        </label>
      {% endwith %}
    {% endfor %}
  {% endfor %}
  {% if widget.has_specify %}
  <div class = "specify">
    <label><input id = "{{ id }}_specify" type="{{ widget.input_type }}" class = "me-1" name="{{ widget.name }}" 
      onclick="markCheckboxesNotRequired('{{ widget.name }}'); activateSpecifyEntryField('{{ id }}_specify');" required>Other (specify):</label>
    <input class="ms-1" id="{{ id }}_specify_value" type="text" name="{{ widget.name }}" disabled />
  </div>
  {% endif %}
</div>
{% endwith %}