{% with id=widget.attrs.id intial_val=widget.value.0 %}
<!-- <div>
  {{ intial_val }}
</div> -->
<div id="{{ id }}" class="{{ widget.attrs.class }}" >
  <div class="specify">
    <label class="me-1">
      <input id="{{ id }}_specify" type="radio" name="{{ widget.name }}" value="specify"
        class="me-1 specify" onclick="turnOnSpecify('{{ id }}_specify_value')" {% if intial_val != '' %} checked{% endif %} required>Number of storeys:
    </label>
    <input id="{{ id }}_specify_value" class = "me-1" type="number" name="{{ widget.name }}" min="0" max="50" step="1" {% if intial_val == '' %}disabled{% else %}value="{{ intial_val }}"{% endif %}/>
  </div>
  <label>
    <input id="{{ id }}_unsure" class="me-1" type="radio" name="{{ widget.name }}" 
      value="" onclick="turnOffSpecify('{{ id }}_specify_value')" {% if intial_val == '' %} checked{% endif %} required/>Unsure
  </label>
</div>
{% endwith %}
