{% with id=widget.attrs.id widget_val=widget.value.0 %}
<div id="{{ id }}" class="{{ widget.attrs.class }}">
  {% for _, options, _ in widget.optgroups %}

    {% for option in options %}

    {% comment %}
    widget value: {{ widget_val }} <br>
    widget is bound?: {{ widget.is_bound }} <br>  
    option_value: {{ option.value }} <br>
    {% if option.value == widget_val %}
    are equal <br>
    {% else %}
    are not equal <br>
    {% endif %}
    option selected? {{ option.selected }} <br>
    {% endcomment %}
  
      {% if widget.specify_option_value == option.value %}
      <div id="{{ id }}_specify_container" class = "flex items-center">
        <label class="">
          <input id = "{{ id }}_specify" type="{{ option.type }}" class = "{{ widget.attrs.option_class }}"
          onclick="turnOnSpecify('{{ id }}_specify_value')" name="{{ widget.name }}"
          {% if widget.value_was_specified %} checked{% endif %} required>{{ option.label }}
        </label>
        <input id="{{ id }}_specify_value" class="{{ widget.attrs.specify_class }}" type="{{ widget.specify_input_type }}" name="{{ widget.name }}"
        {% if widget.value_was_specified %} value="{{ widget_val }}" {% else %} disabled {% endif %} />
      </div>
      {% else %}
        <label class="flex items-center h-[30px]">
          <input id="{{ option.attrs.id }}" class="{{ widget.attrs.option_class }}" type="{{ option.type }}"
            onclick="turnOffSpecify('{{ id }}_specify_value')"
            name="{{ option.name }}" value="{{ option.value }}" 
            {% if widget.is_bound and option.value == widget_val %} checked{% endif %} 
            required>{{ option.label }}</label>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endwith %}
